<!DOCTYPE html>
<html lang="en">
 
<head>
    <!-- Include header section which holds imports for shared elements -->  
    <% include _header %>
 
    <title>Divisioner - Cobra Cup 2015</title>
 
    <!-- Latest compiled and minified CSS -->
    <link href="../dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../dist/css/flat-ui.css">

    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
 
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><i class="fa fa-cube"></i> Hub <span style="font-family: 'Kaushan Script', cursive;">2016</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Lag</a></li>
                <li><a href="/signup">Anmäl lag</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tabeller <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/stat/league">Ligan</a></li>
                    <li class="active"><a href="/stat/divisions">Divisioner</a></li>                  
                    <li><a href="/stat/playerstats">Spelarstatistik</a></li>
                  </ul>
                </li>
                <li><a href="/games">Matcher</a></li>
                <li><a href="/feed"><mark>Live</mark></a></li>
                <li><a href="http://cobracup.se" target="_blank"><i class="fa fa-home"></i> cobracup.se</a></li>
              </ul>
              <% if(typeof(count) !== 'undefined'){ %>
                <p class="navbar-text navbar-right"><strong><%= count %>/15 lag</strong></p>
              <% } %>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container-fluid">
        <% if(typeof(flash) !== 'undefined'){ %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong>Fel!</strong> <%= flash %>.
            </div>  
        <% } %>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h6 class="panel-title text-uppercase">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-tint fa-stack-1x fa-inverse"></i>
                            </span> <strong>Atlantic Division <small style="padding-left: 10px;"><a href="/games/group/1"><i class="fa fa-calendar" style="color: rgb(241,102,57);"></i> Matcher & Resultat</a></small></strong>
                        </h6>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">               
                            <table class="table table-bordered table-condensed table-striped" style="margin-bottom: 0;">
                                <thead style="font-size: 13px;">
                                    <tr>
                                        <th></th>
                                        <th class="text-center text-uppercase">Lag</th>
                                        <th class="text-uppercase">Namn</th>
                                        <th class="text-center text-uppercase" title="Games Played">GP</th>
                                        <th class="text-center text-uppercase" title="Wins">W</th>
                                        <th class="text-center text-uppercase" title="Ties">T</th>
                                        <th class="text-center text-uppercase" title="Losses">L</th>
                                        <th class="text-center text-uppercase bg-warning" style="font-size: 14px;" title="Points"><strong>P</strong></th>
                                        <th class="text-center text-uppercase" title="Goals For">GF</th>
                                        <th class="text-center text-uppercase" title="Goals Against">GA</th>
                                        <th class="text-center text-uppercase">+/-</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: 12px;">
                                    <% if(typeof(standings) !== 'undefined'){
                                        var i = 1;
                                        standings.forEach(function(standing) { %>
                                            <% if(_.isEqual("1", standing.get("team").get("group"))){ 
                                                var goalsFor = parseInt(standing.get("goals_for"));
                                                var goalsAgainst = parseInt(standing.get("goals_against"));
                                                var difference = goalsFor-goalsAgainst;
                                                %>
                                                <tr>
                                                    <td class="text-center"><%= i %></td>
                                                    <td><a href="/team/<%= standing.get("team").get("team_id") %>" target="_blank"><img src="<%= standing.get("team").get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:15px;height:15px; margin: 0 auto;"></a></td>
                                                    <td><%= standing.get("team").get("team_name") %></td>
                                                    <td class="text-center"><%= standing.get("games_played") %></td>
                                                    <td class="text-center"><%= standing.get("wins") %></td>
                                                    <td class="text-center"><%= standing.get("tie") %></td>
                                                    <td class="text-center"><%= standing.get("losses") %></td>
                                                    <td class="text-center" style="font-size: 13px;"><strong><%= standing.get("points") %></strong></td>
                                                    <td class="text-center"><%= standing.get("goals_for") %></td>
                                                    <td class="text-center"><%= standing.get("goals_against") %></td>
                                                    <td class="text-center"><strong><%= difference %></strong></td>
                                                </tr>
                                            <% i = i+1; 
                                            } 
                                        }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <small style="font-size: 10px;"><strong>GP</strong>-Games Played, <strong>W</strong>-Wins, <strong>T</strong>-Ties, <strong>L</strong>-Losses, <strong>P</strong>-Points, <strong>GF</strong>-Goals For, <strong>GA</strong>-Goals Against</small>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h6 class="panel-title text-uppercase">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                            </span> <strong>Metropolitan Division <small style="padding-left: 10px;"><a href="/games/group/2"><i class="fa fa-calendar" style="color: rgb(241,102,57);"></i> Matcher & Resultat</a></small></strong>
                        </h6>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">               
                            <table class="table table-bordered table-condensed table-striped" style="margin-bottom: 0;">
                                <thead style="font-size: 13px;">
                                    <tr>
                                        <th></th>
                                        <th class="text-center text-uppercase">Lag</th>
                                        <th class="text-uppercase">Namn</th>
                                        <th class="text-center text-uppercase" title="Games Played">GP</th>
                                        <th class="text-center text-uppercase" title="Wins">W</th>
                                        <th class="text-center text-uppercase" title="Ties">T</th>
                                        <th class="text-center text-uppercase" title="Losses">L</th>
                                        <th class="text-center text-uppercase bg-warning" style="font-size: 14px;" title="Points"><strong>P</strong></th>
                                        <th class="text-center text-uppercase" title="Goals For">GF</th>
                                        <th class="text-center text-uppercase" title="Goals Against">GA</th>
                                        <th class="text-center text-uppercase">+/-</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: 12px;">
                                    <% if(typeof(standings) !== 'undefined'){
                                        var i = 1;
                                        standings.forEach(function(standing) { %>
                                            <% if(_.isEqual("2", standing.get("team").get("group"))){ 
                                                var goalsFor = parseInt(standing.get("goals_for"));
                                                var goalsAgainst = parseInt(standing.get("goals_against"));
                                                var difference = goalsFor-goalsAgainst;
                                                %>
                                                <tr>
                                                    <td class="text-center"><%= i %></td>
                                                    <td><a href="/team/<%= standing.get("team").get("team_id") %>" target="_blank"><img src="<%= standing.get("team").get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:15px;height:15px; margin: 0 auto;"></a></td>
                                                    <td><%= standing.get("team").get("team_name") %></td>
                                                    <td class="text-center"><%= standing.get("games_played") %></td>
                                                    <td class="text-center"><%= standing.get("wins") %></td>
                                                    <td class="text-center"><%= standing.get("tie") %></td>
                                                    <td class="text-center"><%= standing.get("losses") %></td>
                                                    <td class="text-center" style="font-size: 13px;"><strong><%= standing.get("points") %></strong></td>
                                                    <td class="text-center"><%= standing.get("goals_for") %></td>
                                                    <td class="text-center"><%= standing.get("goals_against") %></td>
                                                    <td class="text-center"><strong><%= difference %></strong></td>
                                                </tr>
                                            <% i = i+1; 
                                            } 
                                        }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <small style="font-size: 10px;"><strong>GP</strong>-Games Played, <strong>W</strong>-Wins, <strong>T</strong>-Ties, <strong>L</strong>-Losses, <strong>P</strong>-Points, <strong>GF</strong>-Goals For, <strong>GA</strong>-Goals Against</small>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-md-6 -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h6 class="panel-title text-uppercase">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                            </span> <strong>Central Division <small style="padding-left: 10px;"><a href="/games/group/3"><i class="fa fa-calendar" style="color: rgb(241,102,57);"></i> Matcher & Resultat</a></small></strong>
                        </h6>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">               
                            <table class="table table-bordered table-condensed table-striped" style="margin-bottom: 0;">
                                <thead style="font-size: 13px;">
                                    <tr>
                                        <th></th>
                                        <th class="text-center text-uppercase">Lag</th>
                                        <th class="text-uppercase">Namn</th>
                                        <th class="text-center text-uppercase" title="Games Played">GP</th>
                                        <th class="text-center text-uppercase" title="Wins">W</th>
                                        <th class="text-center text-uppercase" title="Ties">T</th>
                                        <th class="text-center text-uppercase" title="Losses">L</th>
                                        <th class="text-center text-uppercase bg-warning" style="font-size: 14px;" title="Points"><strong>P</strong></th>
                                        <th class="text-center text-uppercase" title="Goals For">GF</th>
                                        <th class="text-center text-uppercase" title="Goals Against">GA</th>
                                        <th class="text-center text-uppercase">+/-</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: 12px;">
                                    <% if(typeof(standings) !== 'undefined'){
                                        var i = 1;
                                        standings.forEach(function(standing) { %>
                                            <% if(_.isEqual("3", standing.get("team").get("group"))){ 
                                                var goalsFor = parseInt(standing.get("goals_for"));
                                                var goalsAgainst = parseInt(standing.get("goals_against"));
                                                var difference = goalsFor-goalsAgainst;
                                                %>
                                                <tr>
                                                    <td class="text-center"><%= i %></td>
                                                    <td><a href="/team/<%= standing.get("team").get("team_id") %>" target="_blank"><img src="<%= standing.get("team").get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:15px;height:15px; margin: 0 auto;"></a></td>
                                                    <td><%= standing.get("team").get("team_name") %></td>
                                                    <td class="text-center"><%= standing.get("games_played") %></td>
                                                    <td class="text-center"><%= standing.get("wins") %></td>
                                                    <td class="text-center"><%= standing.get("tie") %></td>
                                                    <td class="text-center"><%= standing.get("losses") %></td>
                                                    <td class="text-center" style="font-size: 13px;"><strong><%= standing.get("points") %></strong></td>
                                                    <td class="text-center"><%= standing.get("goals_for") %></td>
                                                    <td class="text-center"><%= standing.get("goals_against") %></td>
                                                    <td class="text-center"><strong><%= difference %></strong></td>
                                                </tr>
                                            <% i = i+1; 
                                            } 
                                        }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <small style="font-size: 10px;"><strong>GP</strong>-Games Played, <strong>W</strong>-Wins, <strong>T</strong>-Ties, <strong>L</strong>-Losses, <strong>P</strong>-Points, <strong>GF</strong>-Goals For, <strong>GA</strong>-Goals Against</small>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h6 class="panel-title text-uppercase">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-sun-o fa-stack-1x fa-inverse"></i>
                            </span> <strong>Pacific Division <small style="padding-left: 10px;"><a href="/games/group/4"><i class="fa fa-calendar" style="color: rgb(241,102,57);"></i> Matcher & Resultat</a></small></strong>
                        </h6>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">             
                            <table class="table table-bordered table-condensed table-striped" style="margin-bottom: 0;">
                                <thead style="font-size: 13px;">
                                    <tr>
                                        <th></th>
                                        <th class="text-center text-uppercase">Lag</th>
                                        <th class="text-uppercase">Namn</th>
                                        <th class="text-center text-uppercase" title="Games Played">GP</th>
                                        <th class="text-center text-uppercase" title="Wins">W</th>
                                        <th class="text-center text-uppercase" title="Ties">T</th>
                                        <th class="text-center text-uppercase" title="Losses">L</th>
                                        <th class="text-center text-uppercase bg-warning" style="font-size: 14px;" title="Points"><strong>P</strong></th>
                                        <th class="text-center text-uppercase" title="Goals For">GF</th>
                                        <th class="text-center text-uppercase" title="Goals Against">GA</th>
                                        <th class="text-center text-uppercase">+/-</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: 12px;">
                                    <% if(typeof(standings) !== 'undefined'){
                                        var i = 1;
                                        standings.forEach(function(standing) { %>
                                            <% if(_.isEqual("4", standing.get("team").get("group"))){ 
                                                var goalsFor = parseInt(standing.get("goals_for"));
                                                var goalsAgainst = parseInt(standing.get("goals_against"));
                                                var difference = goalsFor-goalsAgainst;
                                                %>
                                                <tr>
                                                    <td class="text-center"><%= i %></td>
                                                    <td><a href="/team/<%= standing.get("team").get("team_id") %>" target="_blank"><img src="<%= standing.get("team").get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:15px;height:15px; margin: 0 auto;"></a></td>
                                                    <td><%= standing.get("team").get("team_name") %></td>
                                                    <td class="text-center"><%= standing.get("games_played") %></td>
                                                    <td class="text-center"><%= standing.get("wins") %></td>
                                                    <td class="text-center"><%= standing.get("tie") %></td>
                                                    <td class="text-center"><%= standing.get("losses") %></td>
                                                    <td class="text-center" style="font-size: 13px;"><strong><%= standing.get("points") %></strong></td>
                                                    <td class="text-center"><%= standing.get("goals_for") %></td>
                                                    <td class="text-center"><%= standing.get("goals_against") %></td>
                                                    <td class="text-center"><strong><%= difference %></strong></td>
                                                </tr>
                                            <% i = i+1; 
                                            } 
                                        }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <small style="font-size: 10px;"><strong>GP</strong>-Games Played, <strong>W</strong>-Wins, <strong>T</strong>-Ties, <strong>L</strong>-Losses, <strong>P</strong>-Points, <strong>GF</strong>-Goals For, <strong>GA</strong>-Goals Against</small>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-md-6 -->
        </div>
    </div>
    <!-- /.container -->

    <p class="text-center" style="margin-top: 2.5em;"><small>&copy; 2014 Copyright The Cobra Cup</small></p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="..//dist/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="..//dist/js/flat-ui.min.js"></script>

    <!-- jQuery Version 1.11.0 -->
    <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
</body>
 
</html>