<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include header section which holds imports for shared elements -->
    <% include _header %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../../dist/css/vendor/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../../dist/css/flat-ui.css">

    <link rel="stylesheet" href="../../stylesheets/style.css">

    <% if(typeof(player) !== 'undefined'){ %>
        <title><%= player[0].get("name") %></title>
    <% } else { %>
        <title>Kunde inte hitta spelaren - Cobra Cup 2016</title>
    <% } %>
    <script>
     !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
     arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
     d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
     insertBefore(d,q)}(window,document,'script','_gs');

     _gs('GSN-270173-J');
    </script>
    <script type="text/javascript">
        function checkPassword() {
            var formPassword = document.getElementById("formPassword").value;
            var dbPassword = document.getElementById("dbPassword").value;
            //alert("formPassword = " + formPassword + " & dbPassword = " + dbPassword);

            if (dbPassword === formPassword) {
                //alert("Passwords matched!");
                return true;
            } else {
                //event.preventDefault();
                //alert("Passwords didn't match!");
                $("#passNoMatch").show();
                //document.getElementById("formPassword").className += "has-error"; 
                return false;
            }
        };
    </script>
</head>

<body>
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="container">
           <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="/"><i class="fa fa-cube"></i> Hub <span style="font-family: 'Kaushan Script', cursive;">2016</span></a>
           </div>
           <div id="navbar" class="navbar-collapse collapse">
             <ul class="nav navbar-nav">
               <li><a href="/">Lag</a></li>
               <li><a href="/signup">Anmäl lag</a></li>
               <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tabeller <span class="caret"></span></a>
                 <ul class="dropdown-menu" role="menu">
                   <li><a href="/stat/league">Ligan</a></li>
                   <li><a href="/stat/divisions">Divisioner</a></li>
                   <li><a href="/stat/playerstats">Spelarstatistik</a></li>
                 </ul>
               </li>
               <li><a href="/stat/history">Statistik</a></li>
               <li><a href="/games">Matcher</a></li>
               <li><a href="/feed"><mark>Live</mark></a></li>
               <li><a href="http://cobracup.se" target="_blank"><i class="fa fa-home"></i> cobracup.se</a></li>
             </ul>
             <% if(typeof(count) !== 'undefined'){ %>
               <p class="navbar-text navbar-right"><strong><%= count %>/16 lag</strong></p>
             <% } %>
           </div><!--/.nav-collapse -->
       </div>
   </nav>
    <div class="container">
        <% if(typeof(flash) !== 'undefined'){ %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong>Problem!</strong> <%= flash %>.
            </div>
        <% } %>

        <!-- START Password didn't match alert -->
        <div class="alert alert-danger alert-dismissible" role="alert" id="passNoMatch" name="passNoMatch" style="display:none;">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <strong>Problem!</strong> Det lösenord du skrev stämde inte. Du bör ha fått ditt lösenord på mejl, om inte hör du av dig till oss så fixar vi det.
        </div>
        <!-- END Password didn't match alert -->

        <% if(typeof(player) !== 'undefined'){ %>
            <div class="col-md-12">
                <div class="panel" style="background-color: #eff0f2;">
                    <div class="panel-body">
                        
                        <form class="form" role="form" method="post" onsubmit="return checkPassword();">
                            <div class="form-group col-md-12">
                                <label for="email" class="control-label sr-only">Epost</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="fa fa-envelope fa-fw"></span></div>

                                    <% if((typeof(player[0].get("email")) !== 'undefined') && (!_.isEmpty(player[0].get("email")))){ %>
                                        <input type="email" class="form-control" id="email" placeholder="placeholder@cobracup.se" name="email" value="<%= player[0].get("email") %>" required autofocus>
                                    <% } else { %>
                                        <input type="email" class="form-control" id="email" placeholder="placeholder@cobracup.se" name="email" required autofocus>
                                    <% } %>
                                
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="telephone" class="control-label sr-only">Telefon</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-phone fa-fw"></i></div>

                                    <% if((typeof(player[0].get("telephone")) !== 'undefined') && (!_.isEmpty(player[0].get("telephone")))){ %>
                                        <input type="telephone" class="form-control" id="telephone" placeholder="0701112233" name="telephone" value="<%= player[0].get("telephone") %>" required>
                                    <% } else { %>
                                        <input type="telephone" class="form-control" id="telephone" placeholder="0701112233" name="telephone" required>
                                    <% } %>

                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="birthyear" class="control-label sr-only">Födelseår</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></div>

                                    <% if((typeof(player[0].get("birthyear")) !== 'undefined') && (!_.isEmpty(player[0].get("birthyear")))){ %>
                                        <input type="text" class="form-control" id="birthyear" placeholder="1979-03-27" name="birthyear" value="<%= player[0].get("birthyear") %>">
                                    <% } else { %>
                                        <input type="text" class="form-control" id="birthyear" placeholder="1979-03-27" name="birthyear">
                                    <% } %>

                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="birthplace" class="control-label sr-only">Födelseort</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></div>

                                    <% if((typeof(player[0].get("birthplace")) !== 'undefined') && (!_.isEmpty(player[0].get("birthplace")))){ %>
                                        <input type="text" class="form-control" id="birthplace" placeholder="Örnsköldsvik, SWE" name="birthplace" value="<%= player[0].get("birthplace") %>">
                                    <% } else { %>
                                        <input type="text" class="form-control" id="birthplace" placeholder="Örnsköldsvik, SWE" name="birthplace">
                                    <% } %>

                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="nation" class="control-label sr-only">Nation</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-flag fa-fw"></i></div>

                                    <% if((typeof(player[0].get("nation")) !== 'undefined') && (!_.isEmpty(player[0].get("nation")))){ %>
                                        <input type="text" class="form-control" id="nation" placeholder="Sweden" name="nation" value="<%= player[0].get("nation") %>">
                                    <% } else { %>
                                        <input type="text" class="form-control" id="nation" placeholder="Sweden" name="nation">
                                    <% } %>

                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="position" class="control-label sr-only">Position</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>

                                    <% if((typeof(player[0].get("position")) !== 'undefined') && (!_.isEmpty(player[0].get("position")))){ %>
                                        <input type="text" class="form-control" id="position" placeholder="Sniper" name="position" value="<%= player[0].get("position") %>">
                                    <% } else { %>
                                        <input type="text" class="form-control" id="position" placeholder="Playmaker" name="position">
                                    <% } %>

                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="shoots" class="sr-only">Skjuter/Fattning</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-bolt fa-fw"></i></div>

                                    <select class="form-control" id="shoots" name="shoots">
                                        <% if((typeof(player[0].get("shoots")) !== 'undefined') && (!_.isEmpty(player[0].get("shoots")))){ %>
                                            <% if (_.isEqual(player[0].get("shoots"), "L")) { %>
                                                <option value="L" selected>L - Vänsterskytt</option>
                                                <option value="R">R - Högerskytt</option>
                                            <% } else { %>
                                                <option value="L">L - Vänsterskytt</option>
                                                <option value="R" selected>R - Högerskytt</option>
                                            <% } %> 
                                        <% } else { %>
                                            <option value="L">L - Vänsterskytt</option>
                                            <option value="R">R - Högerskytt</option>
                                        <% } %>
                                    </select>

                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="profile" class="control-label">Profil</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-magic fa-fw"></i></div>

                                    <% if((typeof(player[0].get("profile")) !== 'undefined') && (!_.isEmpty(player[0].get("profile")))){ %>
                                        <textarea class="form-control" id="profile" name="profile" placeholder="En snabb lirare med ..."><%= player[0].get("profile") %></textarea>
                                    <% } else { %>
                                        <textarea class="form-control" id="profile" name="profile" placeholder="En snabb lirare med ..."></textarea>
                                    <% } %>

                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="gamertag" class="control-label">Xbox Live Gamertag</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-gamepad fa-fw"></i></div>

                                    <% if((typeof(player[0].get("gamertag")) !== 'undefined') && (!_.isEmpty(player[0].get("gamertag")))){ %>
                                        <input type="text" class="form-control" id="gamertag" placeholder="Doktorpung" name="gamertag" value="<%= player[0].get("gamertag") %>">
                                    <% } else { %>
                                        <input type="text" class="form-control" id="gamertag" placeholder="Gurklaxen" name="gamertag">
                                    <% } %>

                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="gamertag" class="control-label">PlayStation Network ID</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-gamepad fa-fw"></i></div>

                                    <% if((typeof(player[0].get("psn_id")) !== 'undefined') && (!_.isEmpty(player[0].get("psn_id")))){ %>
                                        <input type="text" class="form-control" id="psn_id" placeholder="mrbig" name="psn_id" value="<%= player[0].get("psn_id") %>">
                                    <% } else { %>
                                        <input type="text" class="form-control" id="psn_id" placeholder="diskopinne" name="psn_id">
                                    <% } %>

                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="twitter" class="control-label">Twitter användarnamn</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-twitter fa-fw"></i></div>

                                    <% if((typeof(player[0].get("twitter")) !== 'undefined') && (!_.isEmpty(player[0].get("twitter")))){ %>
                                        <input type="text" class="form-control" id="twitter" placeholder="CobraCup" name="twitter" value="<%= player[0].get("twitter") %>">
                                    <% } else { %>
                                        <input type="text" class="form-control" id="twitter" placeholder="CobraCup" name="twitter">
                                    <% } %>

                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="facebook" class="control-label">Facebook profillänk</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-facebook fa-fw"></i></div>

                                    <% if((typeof(player[0].get("facebook")) !== 'undefined') && (!_.isEmpty(player[0].get("facebook")))){ %>
                                        <input type="text" class="form-control" id="facebook" placeholder="https://www.facebook.com/TheCobraCup" name="facebook" value="<%= player[0].get("facebook") %>">
                                    <% } else { %>
                                        <input type="text" class="form-control" id="facebook" placeholder="https://www.facebook.com/TheCobraCup" name="facebook">
                                    <% } %>

                                </div>
                            </div>
                            
                            <div class="row" style="margin-left:0px;">
                                
                                <div class="form-group col-md-6">
                                    <label for="password" class="control-label sr-only">Lösenord</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
                                        <input type="password" class="form-control" id="formPassword" placeholder="Ditt lösenord" name="formPassword" required>
                                    </div>
                                </div>

                                <div class="form-group col-md-6" id="passFG">
                                    <input type='hidden' name='_method' value='put' />
                                    <input type='hidden' name='dbPassword' id='dbPassword' value='<%= player[0].get("password") %>' />
                                    <button type="submit" class="btn btn-lg btn-primary btn-wide" onclick="_gs('event', 'Clicked to update Player')">Uppdatera</button>
                                </div>
                                
                            </div>

                        </form>
                        
                    </div>
                </div>
            </div>
        <% } else { %>
            <p>Player är undefined... </p>
        <% } %>
    </div>

    <p class="text-center" style="margin-top: 2.5em;"><small>&copy; 2015 Copyright The Cobra Cup</small></p>
    <p class="text-center">
        <a href="https://twitter.com/CobraCup" class="twitter-follow-button" data-show-count="false" data-lang="sv">Följ @CobraCup</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../dist/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../dist/js/flat-ui.min.js"></script>

    <!-- jQuery Version 1.11.0 -->
    <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>

</html>
