<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include header section which holds imports for shared elements -->
    <% include _header %>

    <title>Live - Cobra Cup 2016</title>

    <!-- Latest compiled and minified CSS -->
    <link href="dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="dist/css/flat-ui.css">

    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><i class="fa fa-cube"></i> Hub <span style="font-family: 'Kaushan Script', cursive;">2016</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Lag</a></li>
                <li><a href="/signup">Anmäl lag</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tabeller <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/stat/league">Ligan</a></li>
                    <li><a href="/stat/divisions">Divisioner</a></li>
                    <li><a href="/stat/playerstats">Spelarstatistik</a></li>
                  </ul>
                </li>
                <li><a href="/games">Matcher</a></li>
                <li class="active"><a href="/feed"><mark>Live</mark></a></li>
                <li><a href="http://cobracup.se" target="_blank"><i class="fa fa-home"></i> cobracup.se</a></li>
              </ul>
              <% if(typeof(count) !== 'undefined'){ %>
                <p class="navbar-text navbar-right"><strong><%= count %>/16 lag</strong></p>
              <% } %>
              <p class="navbar-text navbar-right">
                  <a href="https://twitter.com/CobraCup" class="twitter-follow-button" data-show-count="false" data-lang="sv">Följ @CobraCup</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </p>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <% if(typeof(flashError) !== 'undefined'){ %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong>Fel!</strong> <%= flashError %>.
            </div>
        <% } else if(typeof(flashErrorGame) !== 'undefined'){ %>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <strong>Fel!</strong> <%= flashErrorGame %>
            </div>
        <% } %>
        <div class="col-md-3 hidden-xs">
            <div class="row">
                <div class="panel" style="background-color: #eff0f2;">
                    <div class="panel-body">
                        <p class="text-uppercase lead text-center"  style="margin-bottom:0; padding-bottom: 0;">Cobra Cup 2016</p>
                        <p class="text-uppercase text-center"  style="margin-bottom:0; margin-top: 0; padding-top:0;"><small style="color: #C0392B;">nedsläpp om</small></p>
                        <p class="text-uppercase text-center lead"><strong><%= getFromNowStripped("2015-12-19 12:00:00") %></strong></p>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <div class="col-md-9 col-xs-12">
            <% if(typeof(notifications) !== 'undefined'){ %>
                <% notifications.forEach(function(note) { %>
                    <div class="panel" style="background-color: #eff0f2;">
                        <div class="panel-body" style="margin-bottom: 0; padding-bottom: 5px; padding-top: 5px;">
                            <p style="margin-bottom:0;"><a href="<%= note.get("link") %>" style="color: rgb(241,102,57);"><strong><%= note.get("header") %></strong></a> <small style="color: #E74C3C; margin-left: 10px;"><%= getFromNow(note.get("published")) %></small></p>
                            <p style="margin-bottom:0;"><%= note.get("message") %></p>
                            <p class="hidden-xs" style="margin-bottom:0;">
                                <a href="https://twitter.com/intent/tweet?button_hashtag=CobraCup" class="twitter-hashtag-button" data-lang="sv" data-related="CobraCup">Tweet #CobraCup</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                            </p>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                <% }) %>
            <% } else { %>
                <div class="panel" style="background-color: #eff0f2;">
                    <div class="panel-body" style="margin-bottom: 0; padding-bottom: 5px; padding-top: 5px;">
                        <p>Kunde inte ladda live feeden! Försök att ladda om sidan.</p>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            <% } %>
        </div>
        <!-- /.col-md-8 -->
    </div>
    <!-- /.container -->

    <p class="text-center" style="margin-top: 2.5em;"><small>&copy; 2015 Copyright The Cobra Cup</small></p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="dist/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="dist/js/flat-ui.min.js"></script>

    <!-- jQuery Version 1.11.0 -->
    <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
</body>

</html>
