<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include header section which holds imports for shared elements -->
    <% include _header %>

    <% if(typeof(groupName) !== 'undefined'){ %>
        <title><%= groupName %> - Cobra Cup 2016</title>
    <% } else { %>
        <title>Gruppmatcher - Cobra Cup 2016</title>
    <% } %>

    <!-- Latest compiled and minified CSS -->
    <link href="../../dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../../dist/css/flat-ui.css">

    <link rel="stylesheet" href="../../stylesheets/style.css">
    <script>
     !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
     arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
     d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
     insertBefore(d,q)}(window,document,'script','_gs');

     _gs('GSN-270173-J');
    </script>
</head>

<body>
    <% include _navigation %>
    <div class="container-fluid">
        <div class="col-md-3">
            <% if(typeof(groupName) !== 'undefined'){
                var icon = "fa-question";
                var paneltype = "panel-default";
                if (_.isEqual(groupName, "Atlantic")) {
                  icon = "fa-tint";
                  paneltype = "panel-info";
                } else if (_.isEqual(groupName, "Metropolitan")) {
                  icon = "fa-building";
                  paneltype = "panel-danger";
                } else if (_.isEqual(groupName, "Central")) {
                  icon = "fa-bolt";
                  paneltype = "panel-success";
                } else if (_.isEqual(groupName, "Pacific")) {
                  icon = "fa-sun-o";
                  paneltype = "panel-warning";
                }
                %>
                <div class="panel <%= paneltype %>">
                    <div class="panel-heading">
                        <h6 class="panel-title text-uppercase">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa <%= icon %> fa-stack-1x fa-inverse"></i>
                            </span> <strong><%= groupName %> Division</strong>
                        </h6>
                    </div>
                    <div class="panel-body">
                        <% if(typeof(teams) !== 'undefined'){
                            teams.forEach(function(team) {
                                if(_.isEqual(team.get("group"), groupIdentity)){ %>
                                    <div class="row">
                                        <div class="col-md-2 col-xs-3"><img src="<%= team.get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:25px;height:25px; margin: 0 auto;"></div>
                                        <div class="col-md-10 col-xs-9"><p class="text-uppercase"><a href="/team/<%= team.get("team_id") %>"><%= team.get("team_name") %></a></p></div>
                                    </div>
                                <% }
                            })
                        } %>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            <% } %>
        </div>
        <!-- /.col-md-3 -->
        <div class="col-md-9">
            <% if(typeof(flashError) !== 'undefined'){ %>
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <strong>Fel!</strong> <%= flash %>.
                </div>
            <% } else if(typeof(flashInfo) !== 'undefined'){ %>
                <div class="alert alert-success alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                  </button>
                  <% if(typeof(flashGameId) !== 'undefined'){ %>
                    <strong>Klart!</strong> <%= flashInfo %> <a href="/stat/game/<%= flashGameId %>" class="alert-link"><%= flashGameId %></a> sparat med lyckat resultat.
                  <% } else { %>
                    <strong>Klart!</strong> <%= flashInfo %>
                  <% } %>
                </div>
            <% } else if((typeof(flashErrorGame) !== 'undefined') && (typeof(flashErrorGameId) !== 'undefined')){ %>
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                  </button>
                  <strong>Fel!</strong> <%= flashErrorGame %> <strong><%= flashErrorGameId %></strong> skulle sparas. Pröva igen och kom ihåg att fylla i <strong>alla</strong> fält.
                </div>
            <% } %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title text-uppercase">
                        <strong>Gruppmatcher</strong>
                    </h6>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" style="margin-bottom: 0;">
                            <thead style="font-size: 13px;">
                                <tr>
                                    <th class="text-uppercase text-center">Runda</th>
                                    <th class="text-uppercase hidden-xs"></th>
                                    <th class="text-uppercase">Hemma</th>
                                    <th class="text-uppercase hidden-xs"></th>
                                    <th class="text-uppercase">Borta</th>
                                    <th class="text-uppercase text-center">Spelad</th>
                                    <th class="text-uppercase text-center">Rapportera</th>
                                    <th class="text-uppercase text-center">Resultat</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 12px;">
                                <% if(typeof(games) !== 'undefined'){
                                    games.forEach(function(game) {

                                        var hometeam = game.get("home");
                                        var awayteam = game.get("away");

                                        var played = "Nej";
                                        if(game.get("played")){
                                            played = "Ja";
                                        }

                                        %>
                                        <tr>
                                            <td class="text-center"><%= game.get("round") %></td>
                                            <td class="hidden-xs"><img src="<%= hometeam.get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:15px;height:15px; margin: 0 auto;"></td>
                                            <td><strong><%= hometeam.get("team_name") %></strong></td>
                                            <td class="hidden-xs"><img src="<%= awayteam.get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:15px;height:15px; margin: 0 auto;"></td>
                                            <td><strong><%= awayteam.get("team_name") %></strong></td>
                                            <td class="text-center"><%= played %></td>
                                            <td><% if(game.get("played")) { %>
                                                    <button  onclick="window.location.href='/stat/game/<%= game.get("game_id") %>'" class="btn btn-xs btn-warning btn-wide btn-block text-uppercase"><i class="fa fa-lock"></i> Se matchrapport</button>
                                                <% } else { %>
                                                    <button  onclick="window.location.href='/stat/game/<%= game.get("game_id") %>'" class="btn btn-xs btn-success btn-wide btn-block text-uppercase">Rapportera</button>
                                                <% } %>
                                            </td>
                                            <td class="text-center">
                                                <% if(game.get("played")) { %>
                                                    <%= game.get("home_goals_total") %> - <%= game.get("away_goals_total") %>
                                                    <% if(game.get("overtime")) { %>
                                                        <span><strong> OT</strong></span>
                                                    <% } %>
                                                <% } else { %>
                                                    -
                                                <% } %>
                                            </td>
                                        </tr>
                                    <% }) %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->

    <p class="text-center" style="margin-top: 2.5em;"><small>&copy; 2015 Copyright The Cobra Cup</small></p>
    <p class="text-center">
        <a href="https://twitter.com/CobraCup" class="twitter-follow-button" data-show-count="false" data-lang="sv">Följ @CobraCup</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../..//dist/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../..//dist/js/flat-ui.min.js"></script>
</body>

</html>
