<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <% if(typeof(groupName) !== 'undefined'){ %>
        <title><%= groupName %> - Cobra Cup 2015</title>
    <% } else { %>
        <title>Gruppmatcher - Cobra Cup 2015</title>
    <% } %>
 
    <!-- Latest compiled and minified CSS -->
    <link href="../../dist/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->

    <!-- Optional theme -->
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="../../dist/css/flat-ui.css">

    <link rel="stylesheet" href="../../stylesheets/style.css">

    <link rel="icon" type="image/png" href="http://media.cobracup.se/2014/11/favicon.png" />
 
    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 
</head>
 
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">The Hub</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Lag</a></li>
                <li><a href="/signup">Anmäl lag</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tabeller <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/stat/league">Ligan</a></li>
                    <li class="active"><a href="/stat/divisions">Divisioner</a></li>                  
                    <li><a href="/stat/playerstats">Spelarstatistik</a></li>
                  </ul>
                </li>
                <li class="active"><a href="/games">Matcher</a></li>
                <li><a href="/feed"><mark>Live</mark></a></li>
                <li><a href="http://cobracup.se" target="_blank"><i class="fa fa-home"></i> cobracup.se</a></li>
              </ul>
              <% if(typeof(count) !== 'undefined'){ %>
                <p class="navbar-text navbar-right"><strong><%= count %>/15 lag</strong></p>
              <% } %>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container-fluid">
        <div class="col-md-3">
            <% if(typeof(groupName) !== 'undefined'){ 
                var icon = "fa-question";
                var paneltype = "panel-default";
                if (_.isEqual(groupName, "Atlantic")) {
                  icon = "fa-tint";
                  paneltype = "panel-info";
                } else if (_.isEqual(groupName, "Metropolitan")) {
                  icon = "fa-building";
                  paneltype = "panel-danger";
                } else if (_.isEqual(groupName, "Central")) {
                  icon = "fa-bolt";
                  paneltype = "panel-success";
                } else if (_.isEqual(groupName, "Pacific")) {
                  icon = "fa-sun-o";
                  paneltype = "panel-warning";
                }
                %>
                <div class="panel <%= paneltype %>">
                    <div class="panel-heading">
                        <h6 class="panel-title text-uppercase">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa <%= icon %> fa-stack-1x fa-inverse"></i>
                            </span> <strong><%= groupName %> Division</strong>
                        </h6>
                    </div>
                    <div class="panel-body">
                        <% if(typeof(teams) !== 'undefined'){ 
                            teams.forEach(function(team) {
                                if(_.isEqual(team.get("group"), groupIdentity)){ %>
                                    <div class="row">
                                        <div class="col-md-2 col-xs-3"><img src="<%= team.get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:25px;height:25px; margin: 0 auto;"></div>
                                        <div class="col-md-10 col-xs-9"><p class="text-uppercase"><a href="/team/<%= team.get("team_id") %>"><%= team.get("team_name") %></a></p></div>
                                    </div>
                                <% }
                            })
                        } %>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            <% } %>
        </div>
        <!-- /.col-md-3 -->
        <div class="col-md-9">
            <% if(typeof(flashError) !== 'undefined'){ %>
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <strong>Fel!</strong> <%= flash %>.
                </div>  
            <% } else if(typeof(flashInfo) !== 'undefined'){ %>
                <div class="alert alert-success alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                  </button>
                  <% if(typeof(flashGameId) !== 'undefined'){ %>
                    <strong>Klart!</strong> <%= flashInfo %> <a href="/stat/game/<%= flashGameId %>" class="alert-link"><%= flashGameId %></a> sparat med lyckat resultat.
                  <% } else { %>
                    <strong>Klart!</strong> <%= flashInfo %>
                  <% } %>
                </div>  
            <% } else if((typeof(flashErrorGame) !== 'undefined') && (typeof(flashErrorGameId) !== 'undefined')){ %>
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                  </button>
                  <strong>Fel!</strong> <%= flashErrorGame %> <strong><%= flashErrorGameId %></strong> skulle sparas. Pröva igen och kom ihåg att fylla i <strong>alla</strong> fält.
                </div>  
            <% } %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title text-uppercase">
                        <strong>Gruppmatcher</strong>
                    </h6>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">               
                        <table class="table table-bordered table-striped" style="margin-bottom: 0;">
                            <thead style="font-size: 13px;">
                                <tr>
                                    <th class="text-uppercase text-center">Runda</th>
                                    <th class="text-uppercase hidden-xs"></th>
                                    <th class="text-uppercase">Hemma</th>
                                    <th class="text-uppercase hidden-xs"></th>
                                    <th class="text-uppercase">Borta</th>
                                    <th class="text-uppercase text-center">Spelad</th>
                                    <th class="text-uppercase text-center">Tid</th>
                                    <th class="text-uppercase hidden-xs">Kommentar</th>
                                    <th class="text-uppercase text-center">Rapportera</th>
                                    <th class="text-uppercase text-center">Resultat</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 12px;">
                                <% if((typeof(games) !== 'undefined') && (typeof(teams) !== 'undefined')){
                                    games.forEach(function(game) {

                                        var hometeam = null;
                                        var awayteam = null;

                                        teams.forEach(function(team) {
                                            if(_.isEqual(team.id, game.get("home").id)){
                                                hometeam = team;
                                            } else if(_.isEqual(team.id, game.get("away").id)){
                                                awayteam = team;
                                            }
                                        })

                                        var played = "Nej";
                                        if(game.get("played")){
                                            played = "Ja";
                                        }

                                        %>
                                        <tr>
                                            <td class="text-center"><%= game.get("round") %></td>
                                            <td class="hidden-xs"><img src="<%= hometeam.get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:15px;height:15px; margin: 0 auto;"></td>
                                            <td><strong><%= hometeam.get("team_name") %></strong></td>
                                            <td class="hidden-xs"><img src="<%= awayteam.get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:15px;height:15px; margin: 0 auto;"></td>
                                            <td><strong><%= awayteam.get("team_name") %></strong></td>
                                            <td class="text-center"><%= played %></td>
                                            <td class="text-capitalize text-center"><%= justTime(game.get("date")) %></td>
                                            <td class="hidden-xs"><%= game.get("comment") %></td>
                                            <td><% if(game.get("result_submitted")) { %> 
                                                    <button  onclick="window.location.href='/stat/game/<%= game.get("game_id") %>'" class="btn btn-xs btn-warning btn-wide btn-block text-uppercase"><i class="fa fa-lock"></i> Se matchrapport</button>
                                                <% } else { %>
                                                    <button  onclick="window.location.href='/stat/game/<%= game.get("game_id") %>'" class="btn btn-xs btn-success btn-wide btn-block text-uppercase">Rapportera</button>
                                                <% } %>
                                            </td>
                                            <td class="text-center"><% if(game.get("result_submitted")) { %> 
                                                    <%= game.get("result").get("home_goals") %> - <%= game.get("result").get("away_goals") %>
                                                <% } else { %>
                                                    -
                                                <% } %>
                                            </td>   
                                        </tr>
                                    <% }) %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->

    <p class="text-center" style="margin-top: 2.5em;"><small>&copy; 2014 Copyright The Cobra Cup</small></p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../..//dist/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../..//dist/js/flat-ui.min.js"></script>
</body>
 
</html>