<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <title>The Hub - Cobra Cup 2015</title>
 
    <!-- Latest compiled and minified CSS -->
    <link href="dist/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->

    <!-- Optional theme -->
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="/dist/css/flat-ui.css">

    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="icon" type="image/png" href="http://media.cobracup.se/2014/11/favicon.png" />
 
    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 
</head>
 
<body style="padding-top: 60px;">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">The Hub</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Lag</a></li>
              <li><a href="/signup">Anmäl lag</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tabeller <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/stat/league">Ligan</a></li>
                  <li><a href="/stat/divisions">Divisioner</a></li>                  
                  <li><a href="/stat/playerstats">Spelarstatistik</a></li>
                </ul>
              </li>
              <li><a href="/games">Matcher</a></li>
              <li><a href="/feed"><mark>Live</mark></a></li>
              <li><a href="http://cobracup.se" target="_blank"><i class="fa fa-home"></i> cobracup.se</a></li>
            </ul>
            <% if(typeof(count) !== 'undefined'){ %>
              <p class="navbar-text navbar-right"><strong><%= count %>/15 lag</strong></p>
            <% } %>
          </div><!--/.nav-collapse -->
      </div>
  </nav>
  <div id="container-fluid">
    <div class="col-md-12">
        <% if(typeof(flashError) !== 'undefined'){ %>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <strong>Fel!</strong> <%= flashError %>
            </div>  
        <% } else if(typeof(flashWarning) !== 'undefined'){ %>
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <strong>Observera!</strong> <%= flashWarning %>
            </div>  
        <% } else if(typeof(flashInfo) !== 'undefined'){ %>
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <% if(typeof(flashGameId) !== 'undefined'){ %>
                <strong>Klart!</strong> <%= flashInfo %> <a href="/stat/game/<%= flashGameId %>" class="alert-link"><%= flashGameId %></a> sparat med lyckat resultat.
              <% } else { %>
                <strong>Klart!</strong> <%= flashInfo %>
              <% } %>
            </div>  
        <% } %>
        <% if(typeof(flash) !== 'undefined'){ %>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <strong>Fel!</strong> <%= flash %>.
            </div>  
        <% } %>
        <% if(typeof(teams) !== 'undefined'){ %>
            <div class="row hidden-xs">
              <div class="col-md-12" style="padding-bottom: 10px;">
                <button class="btn btn-xs btn-embossed btn-primary" id="viewTiles" title="Visa lagen som ett rutnät">
                  <i class="fa fa-th"></i> Rutnät
                </button>
                <button class="btn btn-xs btn-embossed btn-primary" id="viewList" title="Visa lagen som en lista">
                  <i class="fa fa-list"></i> Lista
                </button>
              </div>
            </div>
            
            <div class="row demo-tiles" id="tilesView">
              <% teams.forEach(function(team) { %>
                <div class="col-md-3 col-lg-3">
                  <div class="tile tile-hot">
                    <% if(team.get("champion")) { %>
                      <img src="img/trophy.png" alt="Rookie ribbon" class="tile-hot-trophy" title="<%= team.get("champion_comment") %>">
                    <% } %>
                    
                    <% if(team.get("level") == 1) { %>
                      <img src="dist/img/icons/svg/ribbon_rookie.svg" alt="Rookie ribbon" class="tile-hot-ribbon">
                    <% } else if(team.get("level") == 2) { %>
                      <img src="dist/img/icons/svg/ribbon_pro.svg" alt="Pro ribbon" class="tile-hot-ribbon">
                    <% } else if(team.get("level") == 3) { %>
                      <img src="dist/img/icons/svg/ribbon_allstar.svg" alt="All Star ribbon" class="tile-hot-ribbon">
                    <% } %>
                    <img src="<%= team.get("nhlTeam").get("logo").url() %>" alt="Team logo" class="tile-image big-illustration img-circle">
                    <h3 class="tile-title text-uppercase"><%= team.get("team_name") %></h3>
                    <p><%= team.get("nhlTeam").get("name") %></p>
                    <a class="btn btn-primary btn-large btn-block" href="/team/<%= team.get("team_id") %>">Team Corner</a>
                  </div>
                </div>
              <% }) %>
            </div> 
            <!-- /tiles -->
            <div class="row" id="listView">
              <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title text-uppercase">
                            <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                            </span> <strong>Anmälda lag</strong>
                        </h2>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">              
                          <table class="table table-bordered table-striped table-condensed">
                              <thead>
                                  <tr>
                                      <th class="text-center">#</th>
                                      <th class="text-center text-uppercase"></th>
                                      <th class="text-uppercase">Lag</th>
                                      <th class="text-uppercase">Namn</th>
                                      <th class="text-center text-uppercase">Nivå</th>
                                      <th class="text-center text-uppercase">Mästare</th>
                                      <th></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <% 
                                  var i = 1;
                                  teams.forEach(function(team) { 
                                      
                                      var champion = "";
                                      var level = "Oklart";
                                      if(team.get("champion")) { 
                                        champion = team.get("champion_comment");
                                      }

                                      if(team.get("level") == 1) {
                                        level = "Rookie";
                                      } else if(team.get("level") == 2) {
                                        level = "Pro";
                                      } else if(team.get("level") == 3) {
                                        level = "All Star";
                                      }
                                    %>
                                      <tr>
                                          <td class="text-center"><%= i %></td>
                                          <td><a href="/team/<%= team.get("team_id") %>" target="_blank"><img src="<%= team.get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:25px;height:25px; margin: 0 auto;"></a></td>
                                          <td><%= team.get("nhlTeam").get("name") %></td>
                                          <td><strong><%= team.get("team_name") %></strong></td>
                                          <td class="text-center"><%= level %></td>
                                          <td class="text-center"><%= champion %></td>
                                          <td><button  onclick="window.location.href='/team/<%= team.get("team_id") %>'" class="btn btn-xs btn-primary btn-wide btn-block text-uppercase"><i class="fa fa-home"></i> Team Corner</button></td>
                                      </tr>
                                  <% 
                                  i = i+1;
                                  }) %>
                              </tbody>
                          </table>
                      </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
              </div>
            </div>
          <% } %>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.container -->
  <p class="text-center" style="margin-top: 2.5em;"><small>&copy; 2014 Copyright The Cobra Cup</small></p>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/dist/js/vendor/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/dist/js/flat-ui.min.js"></script>

  <!-- jQuery Version 1.11.0 -->
  <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->

  <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->

  <script>
      $('#listView').hide();

      $('#viewList, #viewTiles').click(function () {
          if (this.id == 'viewList') {
            console.log("Klickade på LIST");
            $('#listView').show();
            $('#tilesView').hide();
          }
          else if (this.id == 'viewTiles') {
            console.log("Klickade på TILES");
            $('#tilesView').show();
            $('#listView').hide();
          }
      });
  </script>
</body>
 
</html>