<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include header section which holds imports for shared elements -->
    <% include _header %>

    <!-- Latest compiled and minified CSS -->
    <link href="../dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../dist/css/flat-ui.css">

    <link rel="stylesheet" href="../stylesheets/style.css">

    <% if(typeof(player) !== 'undefined'){ %>
        <title><%= player[0].get("name") %></title>
    <% } else { %>
        <title>Kunde inte hitta spelaren - Cobra Cup 2016</title>
    <% } %>
    <script>
     !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
     arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
     d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
     insertBefore(d,q)}(window,document,'script','_gs');

     _gs('GSN-270173-J');
    </script>
</head>

<body>
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="container">
           <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="/"><i class="fa fa-cube"></i> Hub <span style="font-family: 'Kaushan Script', cursive;">2016</span></a>
           </div>
           <div id="navbar" class="navbar-collapse collapse">
             <ul class="nav navbar-nav">
               <li><a href="/">Lag</a></li>
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Anmäl lag <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/signup">Cobra Cup</a></li>
                        <li><a href="/signup/rookie">Hot Rod Cup</a></li>
                    </ul>
                </li>
               <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tabeller <span class="caret"></span></a>
                 <ul class="dropdown-menu" role="menu">
                   <li><a href="/stat/league">Ligan</a></li>
                   <li><a href="/stat/divisions">Divisioner</a></li>
                   <li><a href="/stat/playerstats">Spelarstatistik</a></li>
                 </ul>
               </li>
               <li><a href="/games">Matcher</a></li>
               <li><a href="/feed"><mark>Live</mark></a></li>
               <li><a href="http://cobracup.se" target="_blank"><i class="fa fa-home"></i> cobracup.se</a></li>
             </ul>
             <% if(typeof(count) !== 'undefined'){ %>
               <p class="navbar-text navbar-right"><strong><%= count %>/16 lag</strong></p>
             <% } %>
           </div><!--/.nav-collapse -->
       </div>
   </nav>
    <div class="container">
        <% if(typeof(flash) !== 'undefined'){ %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong>Problem!</strong> <%= flash %>.
            </div>
        <% } %>
        <% if(typeof(player) !== 'undefined'){ %>
            <div class="col-md-12">
                <div class="panel" style="background-color: #eff0f2;">
                    <div class="panel-body">
                        <!--
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img class="media-object" src="../img/sweden40px.jpg" alt="Swedish Flag">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><%= player[0].get("name") %></h4>
                                Örnsköldsvik, SWE
                            </div>
                        </div>
                        -->

                        <% 
                        var twitter = "CobraCup";
                        var facebook = "http://www.facebook.com/TheCobraCup";
                        if (typeof(player[0].get("twitter")) !== 'undefined') { 
                            twitter = player[0].get("twitter");
                        }
                        if (typeof(player[0].get("facebook")) !== 'undefined') { 
                            facebook = player[0].get("facebook");
                        }
                        %>

                        <div class="col-md-7">
                            <h4 class="text-uppercase"><strong><%= player[0].get("name") %></strong></h4>
                            <div class="row">
                                <div class="col-md-2">
                                    <small><strong>FÖDELSEÅR</strong></small>
                                </div>
                                <div class="col-md-3">
                                    <small><%= player[0].get("birthyear") %></small>
                                </div>
                                <div class="col-md-2">
                                    <small><strong>FÖDELSEORT</strong></small>
                                </div>
                                <div class="col-md-5">
                                    <small><%= player[0].get("birthplace") %></small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <small><strong>ÅLDER</strong></small>
                                </div>
                                <div class="col-md-3">
                                    <% if (typeof(player[0].get("birthyear")) !== 'undefined') {
                                        var calcAge = getAge(player[0].get("birthyear"));
                                        if ((_.isEqual(calcAge,"NaN")) || (_.isNaN(calcAge)))  { %>
                                            <small></small>
                                        <% } else { %>
                                            <small><%= calcAge %></small>
                                        <% } %>
                                    <% } else { %>
                                        <small></small>
                                    <% } %>                                    
                                </div>
                                <div class="col-md-2">
                                    <small><strong>NATION</strong></small>
                                </div>
                                <div class="col-md-5">
                                    <small><%= player[0].get("nation") %></small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <small><strong>POSITION</strong></small>
                                </div>
                                <div class="col-md-3">
                                    <small><%= player[0].get("position") %></small>
                                </div>
                                <div class="col-md-2">
                                    <small><strong>SKJUTER</strong></small>
                                </div>
                                <div class="col-md-5">
                                    <small><%= player[0].get("shoots") %></small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="margin:15px 0"><%= player[0].get("profile") %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p><span><a href="http://twitter.com/<%= twitter %>" target="_blank"><i class="fa fa-twitter"></i></a></span><span style="margin-left:15px;"><a href="<%= facebook %>" target="_blank"><i class="fa fa-facebook"></i></a></span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a class="btn btn-warning btn-xs" href="/player/edit/<%= player[0].get("player_id") %>" onclick="_gs('event', 'Clicked to edit Player')">Uppdatera information</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <img src="<%= player[0].get("avatar").url() %>" class="img-responsive img-thumbnail center-block" alt="Player image">
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                        <div class="col-md-12">
                            <% var stats = player[0].get("stats"); %>
                            <% var trans = player[0].get("transactions"); %>

                            <p class="text-uppercase" style="margin-bottom:2px;"><strong>Karriärstatistik</strong></p>
                            <div class="table-responsive" style="margin-bottom:30px;">
                                <table class="table table-bordered table-condensed table-striped" style="margin-bottom: 0;">
                                    <thead>
                                        <tr class="statstable">
                                            <th class="text-uppercase">Säsong</th>
                                            <th class="text-uppercase">Team</th>
                                            <th class="text-center text-uppercase" title="Games Played">GP</th>
                                            <th class="text-center text-uppercase" title="Goals">G</th>
                                            <th class="text-center text-uppercase" title="Fights">F</th>
                                            <th></th>
                                            <th class="text-uppercase" title="Slutspel">POST</th>
                                            <th class="text-center text-uppercase" title="Games Played">GP</th>
                                            <th class="text-center text-uppercase" title="Goals">G</th>
                                            <th class="text-center text-uppercase" title="Fights">F</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% _.each(stats.seasons, function(season) { %>
                                            <tr>
                                                <td><%= season.season %></td>
                                                <td><%= season.team %></td>
                                                <td class="text-center"><%= season.gp %></td>
                                                <td class="text-center"><%= season.goals %></td>
                                                <td class="text-center"><%= season.fights %></td>
                                                <td class="text-center">|</td>
                                                <% if ((typeof(season.playoffs) !== 'undefined') && (season.playoffs.gp > 0)) { %>
                                                    <td><i class="fa fa-arrow-right"></i> Slutspel</td>
                                                    <td class="text-center"><%= season.playoffs.gp %></td>
                                                    <td class="text-center"><%= season.playoffs.goals %></td>
                                                    <td class="text-center"><%= season.playoffs.fights %></td>
                                                <% } else { %>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                <% } %>
                                            </tr>
                                        <% })%> 
                                    </tbody>
                                </table>
                            </div>

                            <p class="text-uppercase" style="margin-bottom:2px;"><strong>Totalt över karriären</strong></p>
                            <div class="table-responsive" style="margin-bottom:30px;">
                                <table class="table table-bordered table-condensed table-striped" style="margin-bottom: 0;">
                                    <thead>
                                        <tr class="statstable">
                                            <th class="text-uppercase"></th>
                                            <th></th>
                                            <th class="text-center text-uppercase" title="Games Played">GP</th>
                                            <th class="text-center text-uppercase" title="Goals">G</th>
                                            <th class="text-center text-uppercase" title="Fights">F</th>
                                            <th></th>
                                            <th class="text-center text-uppercase" title="Games Played">GP</th>
                                            <th class="text-center text-uppercase" title="Goals">G</th>
                                            <th class="text-center text-uppercase" title="Fights">F</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 
                                        var gp = 0;
                                        var goals = 0;
                                        var fights = 0;
                                        var po_gp = 0;
                                        var po_goals = 0;
                                        var po_fights = 0;
                                        _.each(stats.seasons, function(season) { 
                                            gp = gp + season.gp;
                                            goals = goals + season.goals;
                                            fights = fights + season.fights;
                                            if (typeof(season.playoffs) !== 'undefined') {
                                                po_gp = po_gp + season.playoffs.gp;
                                                po_goals = po_goals + season.playoffs.goals;
                                                po_fights = po_fights + season.playoffs.fights;
                                            }                                            
                                         })%>
                                        <tr>
                                            <td>Cobra Cup</td>
                                            <td class="text-center">| <i class="fa fa-arrow-right"></i> Gruppspel</td>
                                            <td class="text-center"><%= gp %></td>
                                            <td class="text-center"><%= goals %></td>
                                            <td class="text-center"><%= fights %></td>
                                            <td class="text-center">| <i class="fa fa-arrow-right"></i> Slutspel</td>
                                            <td class="text-center"><%= po_gp %></td>
                                            <td class="text-center"><%= po_goals %></td>
                                            <td class="text-center"><%= po_fights %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <p class="text-uppercase" style="margin-bottom:2px;"><strong>Transaktioner</strong></p>
                            <div class="table-responsive" style="margin-bottom:30px;">
                                <table class="table table-bordered table-condensed table-striped" style="margin-bottom: 0;">
                                    <thead>
                                        <tr class="statstable">
                                            <th class="text-uppercase">Datum</th>
                                            <th class="text-uppercase">Status</th>
                                            <th class="text-uppercase">Från</th>
                                            <th class="text-uppercase">Till</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (typeof(trans) !== 'undefined') { %>
                                            <% _.each(trans.transactions, function(transaction) { %>
                                                <tr>
                                                    <td><%= transaction.year %></td>
                                                    <% if (transaction.status == 1) { %>
                                                        <td>Bekräftad</td>
                                                    <% } else { %>
                                                        <td>Väntar på bekräftelse</td>
                                                    <% } %>
                                                    <td><%= transaction.from %></td>
                                                    <td><%= transaction.to %></td>
                                                </tr>
                                            <% })%> 
                                        <% } %>                                        
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        <% } else { %>
            <p>Player är undefined... </p>
        <% } %>
    </div>

    <p class="text-center" style="margin-top: 2.5em;"><small>&copy; 2015 Copyright The Cobra Cup</small></p>
    <p class="text-center">
        <a href="https://twitter.com/CobraCup" class="twitter-follow-button" data-show-count="false" data-lang="sv">Följ @CobraCup</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../dist/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../dist/js/flat-ui.min.js"></script>

    <!-- jQuery Version 1.11.0 -->
    <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
</body>

</html>
