<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include header section which holds imports for shared elements -->
    <% include _header %>

    <title>Spelarstatistik - Cobra Cup 2016</title>

    <!-- Latest compiled and minified CSS -->
    <link href="../dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../dist/css/flat-ui.css">

    <link rel="stylesheet" href="../stylesheets/style.css">
    <script>
     !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
     arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
     d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
     insertBefore(d,q)}(window,document,'script','_gs');

     _gs('GSN-270173-J');
    </script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><i class="fa fa-cube"></i> Hub <span style="font-family: 'Kaushan Script', cursive;">2016</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Lag</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Anmäl lag <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/signup">Cobra Cup</a></li>
                        <li><a href="/signup/rookie">Hot Rod Cup</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tabeller <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/stat/league">Ligan</a></li>
                    <li><a href="/stat/divisions">Divisioner</a></li>
                    <li class="active"><a href="/stat/playerstats">Spelarstatistik</a></li>
                  </ul>
                </li>
                <li><a href="/stat/history">Statistik</a></li>
                <li><a href="/games">Matcher</a></li>
                <li><a href="/feed"><mark>Live</mark></a></li>
                <li><a href="http://cobracup.se" target="_blank"><i class="fa fa-home"></i> cobracup.se</a></li>
              </ul>
              <% if(typeof(count) !== 'undefined'){ %>
                <p class="navbar-text navbar-right"><strong><%= count %>/16 lag</strong></p>
              <% } %>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <% if(typeof(flash) !== 'undefined'){ %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong>Fel!</strong> <%= flash %>.
            </div>
        <% } %>
        <% if(typeof(flashError) !== 'undefined'){ %>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <strong>Fel!</strong> <%= flashError %>
            </div>
        <% } %> 

        <%  
        var playerGoals;
        var playerFights;
        var playerAssists;
        var playerPoints;
        if(typeof(players) !== 'undefined'){
            playerGoals = players;
            
            playerFights = _.sortBy(players, function(player){
                return player.get("fights");
            });
            playerFights = playerFights.reverse();

            playerAssists = _.sortBy(players, function(player){
                return player.get("assists");
            });
            playerAssists = playerAssists.reverse();

            playerPoints = _.sortBy(players, function(player){
                return player.get("points");
            });
            playerPoints = playerPoints.reverse();
        }
        %>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title text-uppercase">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-balance-scale fa-stack-1x fa-inverse"></i>
                            </span> <strong>Poäng</strong>
                        </h6>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-condensed table-striped" style="margin-bottom: 0;">
                            <thead style="font-size: 13px;">
                                <tr>
                                    <th></th>
                                    <th class="text-center text-uppercase">Lag</th>
                                    <th class="text-uppercase">Namn</th>
                                    <th class="text-center text-uppercase" title="Games Played">GP</th>
                                    <th class="text-center bg-warning" title="Points"><strong>P</strong></th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 12px;">
                                <% if(typeof(playerPoints) !== 'undefined'){
                                    var i = 1;

                                    playerPoints.forEach(function(player) {
                                        var standing_team = null;
                                        if(typeof(standings) !== 'undefined'){
                                            standings.forEach(function(standing) {
                                                if(_.isEqual(standing.get("team").id, player.get("team").id)){
                                                    standing_team = standing;
                                                }
                                            })
                                        } else {
                                            console.log("Standings is undefined");
                                        }
                                        %>
                                        <tr>
                                            <td class="text-center"><%= i %></td>
                                            <td><a href="/team/<%= player.get("team").get("team_id") %>" target="_blank"><img src="<%= player.get("team").get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:15px;height:15px; margin: 0 auto;"></a></td>
                                            <td><%= player.get("name") %></td>
                                            <% if(_.isNull(standing_team)) { %>
                                                <td></td>
                                            <% } else { %>
                                                <td class="text-center"><strong><%= standing_team.get("games_played") %></strong></td>
                                            <% } %>
                                            <td class="text-center"><strong><%= player.get("points") %></strong></td>
                                        </tr>
                                        <% i = i+1;
                                    }) %>
                                <% } %>
                            </tbody>
                        </table>
                        <small style="font-size: 10px;"><strong>GP</strong>-Games Played, <strong>P</strong>-Points</small>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title text-uppercase">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-bullseye fa-stack-1x fa-inverse"></i>
                            </span> <strong>Mål</strong>
                        </h6>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-condensed table-striped" style="margin-bottom: 0;">
                            <thead style="font-size: 13px;">
                                <tr>
                                    <th></th>
                                    <th class="text-center text-uppercase">Lag</th>
                                    <th class="text-uppercase">Namn</th>
                                    <th class="text-center text-uppercase" title="Games Played">GP</th>
                                    <th class="text-center bg-warning" title="Goals"><strong>G</strong></th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 12px;">
                                <% if(typeof(playerGoals) !== 'undefined'){
                                    var i = 1;

                                    playerGoals.forEach(function(player) {
                                        var standing_team = null;
                                        if(typeof(standings) !== 'undefined'){
                                            standings.forEach(function(standing) {
                                                if(_.isEqual(standing.get("team").id, player.get("team").id)){
                                                    standing_team = standing;
                                                }
                                            })
                                        } else {
                                            console.log("Standings is undefined");
                                        }
                                        %>
                                        <tr>
                                            <td class="text-center"><%= i %></td>
                                            <td><a href="/team/<%= player.get("team").get("team_id") %>" target="_blank"><img src="<%= player.get("team").get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:15px;height:15px; margin: 0 auto;"></a></td>
                                            <td><%= player.get("name") %></td>
                                            <% if(_.isNull(standing_team)) { %>
                                                <td></td>
                                            <% } else { %>
                                                <td class="text-center"><strong><%= standing_team.get("games_played") %></strong></td>
                                            <% } %>
                                            <td class="text-center"><strong><%= player.get("goals") %></strong></td>
                                        </tr>
                                        <% i = i+1;
                                    }) %>
                                <% } %>
                            </tbody>
                        </table>
                        <small style="font-size: 10px;"><strong>GP</strong>-Games Played, <strong>G</strong>-Goals</small>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title text-uppercase">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                            </span> <strong>Assist</strong>
                        </h6>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-condensed table-striped" style="margin-bottom: 0;">
                            <thead style="font-size: 13px;">
                                <tr>
                                    <th></th>
                                    <th class="text-center text-uppercase">Lag</th>
                                    <th class="text-uppercase">Namn</th>
                                    <th class="text-center text-uppercase" title="Games Played">GP</th>
                                    <th class="text-center bg-warning" title="Assists"><strong>A</strong></th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 12px;">
                                <% if(typeof(playerAssists) !== 'undefined'){
                                    var i = 1;

                                    playerGoals.forEach(function(player) {
                                        var standing_team = null;
                                        if(typeof(standings) !== 'undefined'){
                                            standings.forEach(function(standing) {
                                                if(_.isEqual(standing.get("team").id, player.get("team").id)){
                                                    standing_team = standing;
                                                }
                                            })
                                        } else {
                                            console.log("Standings is undefined");
                                        }
                                        %>
                                        <tr>
                                            <td class="text-center"><%= i %></td>
                                            <td><a href="/team/<%= player.get("team").get("team_id") %>" target="_blank"><img src="<%= player.get("team").get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:15px;height:15px; margin: 0 auto;"></a></td>
                                            <td><%= player.get("name") %></td>
                                            <% if(_.isNull(standing_team)) { %>
                                                <td></td>
                                            <% } else { %>
                                                <td class="text-center"><strong><%= standing_team.get("games_played") %></strong></td>
                                            <% } %>
                                            <td class="text-center"><strong><%= player.get("assists") %></strong></td>
                                        </tr>
                                        <% i = i+1;
                                    }) %>
                                <% } %>
                            </tbody>
                        </table>
                        <small style="font-size: 10px;"><strong>GP</strong>-Games Played, <strong>G</strong>-Goals</small>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title text-uppercase">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-wheelchair fa-stack-1x fa-inverse"></i>
                            </span> <strong>Slagsmålsligan</strong>
                        </h6>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-condensed table-striped" style="margin-bottom: 0;">
                            <thead style="font-size: 13px;">
                                <tr>
                                    <th></th>
                                    <th class="text-center text-uppercase">Lag</th>
                                    <th class="text-uppercase">Namn</th>
                                    <th class="text-center text-uppercase" title="Games Played">GP</th>
                                    <th class="text-center bg-warning" title="Fights"><strong>F</strong></th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 12px;">
                                <% if(typeof(playerFights) !== 'undefined'){
                                    var i = 1;
                                    playerFights.forEach(function(player) {
                                        var f_standing_team = null;
                                        if(typeof(standings) !== 'undefined'){
                                            standings.forEach(function(standing) {
                                                if(_.isEqual(standing.get("team").id, player.get("team").id)){
                                                    f_standing_team = standing;
                                                }
                                            })
                                        } else {
                                            console.log("Standings is undefined");
                                        }
                                        %>
                                        <tr>
                                            <td class="text-center"><%= i %></td>
                                            <td><a href="/team/<%= player.get("team").get("team_id") %>" target="_blank"><img src="<%= player.get("team").get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:15px;height:15px; margin: 0 auto;"></a></td>
                                            <td><%= player.get("name") %></td>
                                            <% if(_.isNull(f_standing_team)) { %>
                                                <td></td>
                                            <% } else { %>
                                                <td class="text-center"><strong><%= f_standing_team.get("games_played") %></strong></td>
                                            <% } %>
                                            <td class="text-center"><strong><%= player.get("fights") %></strong></td>
                                        </tr>
                                        <% i = i+1;
                                    }) %>
                                <% } %>
                            </tbody>
                        </table>
                        <small style="font-size: 10px;"><strong>GP</strong>-Games Played, <strong>F</strong>-Fights</small>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </div>
    <!-- /.container -->

    <p class="text-center" style="margin-top: 2.5em;"><small>&copy; 2015 Copyright The Cobra Cup</small></p>
    <p class="text-center">
        <a href="https://twitter.com/CobraCup" class="twitter-follow-button" data-show-count="false" data-lang="sv">Följ @CobraCup</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </p>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="..//dist/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="..//dist/js/flat-ui.min.js"></script>

    <!-- jQuery Version 1.11.0 -->
    <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <script>
        $("select").select2({dropdownCssClass: 'dropdown-inverse'});
        $('#levelLbl').tooltip('hide');
    </script>
</body>

</html>
