<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include header section which holds imports for shared elements -->
    <% include _header %>

    <title>Slutspel - Cobra Cup</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../dist/css/flat-ui.css">

    <link rel="stylesheet" href="../stylesheets/style.css">

    <link rel="stylesheet" href="../stylesheets/playoffs.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><i class="fa fa-cube"></i> Hub <span style="font-family: 'Kaushan Script', cursive;">2016</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Lag</a></li>
                <!-- <li><a href="/signup">Anmäl lag</a></li> -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tabeller <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/stat/league">Ligan</a></li>
                    <li><a href="/stat/divisions">Divisioner</a></li>
                    <li><a href="/stat/playerstats">Spelarstatistik</a></li>
                  </ul>
                </li>
                <li class="active"><a href="/playoffs">Slutspel</a></li>
                <li><a href="/stat/history">Statistik</a></li>
                <li><a href="/games">Matcher</a></li>
                <!--
                <li class="hidden-xs"><a href="/feed"><mark>Live</mark></a></li>
                <li class="hidden-xs"><a href="http://cobracup.se" target="_blank"><i class="fa fa-home"></i> cobracup.se</a>
                -->
                </li>
              </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <% if(typeof(flashInfo) !== 'undefined'){ %>
            <div class="alert alert-primary alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <%= flashInfo %>.
            </div>
        <% } %>
        <% if(typeof(flashError) !== 'undefined'){ %>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <strong>Fel!</strong> <%= flashError %>
            </div>
        <% } %> 
        <div id="content" class="panel panel-default">

            <ul id="tabs1" class="nav nav-tabs nav-justified" data-tabs="tabs" role="tablist">
                <li role="presentation" class="active text-uppercase info" data-toggle="tab" aria-controls="quarterfinal" role="tab">
                    <a href="#quarterfinal">
                        <strong><i class="fa fa-battery-2"></i> Kvartsfinaler</strong>
                    </a>
                </li>
                <li role="presentation" class="text-uppercase warning" data-toggle="tab" aria-controls="semifinal" role="tab">
                    <a href="#semifinal">
                        <strong><i class="fa fa-battery-3"></i> Semifinaler</strong>
                    </a>
                </li>
                <li role="presentation" class="text-uppercase warning" data-toggle="tab" aria-controls="final" role="tab">
                    <a href="#final">
                        <strong><i class="fa fa-battery-full"></i> Final</strong>
                    </a>
                </li>
            </ul>

            <div id="stats-content" class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="quarterfinal">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <% if(typeof(games) !== 'undefined'){
                                if (_.size(games) > 0) {
                                    games.forEach(function loop(game) { %>
                                        <% if(_.isEqual(game.get("round"), 1)){ %>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel panel-default gamepanel">
                                                      <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-2 text-center">
                                                                <a href="/team/<%= game.get("home").get("team_id") %>" target="_blank">
                                                                    <img src="<%= game.get("home").get("nhlTeam").get("logo").url() %>" class="img-responsive img-thumbnail center-block" alt="Home Team Logo" style="min-height:75px;height:75px; margin: 0 auto;">
                                                                </a>
                                                                <h4 class="text-center"><%= game.get("home").get("nickname") %></h4>
                                                            </div>
                                                            <div class="col-md-2 text-center">
                                                                <% if (game.get("played")) { %>
                                                                  <h1 title="Mål"><strong><%= game.get("home_goals_total") %></strong></h1>
                                                                  <h6 class="lowopacity" title="Skott"><%= game.get("home_shots_total") %></h6>
                                                                <% } else { %>
                                                                  <h1 title="Mål"><strong>0</strong></h1>
                                                                  <h6 class="lowopacity" title="Skott">0</h6>
                                                                <% } %>
                                                            </div>
                                                            <div class="col-md-4 text-center">
                                                                <h2><strong>VS.</strong></h2>
                                                                <% if (game.get("played")) { %>
                                                                    <span class="label label-success givemesomespace-right">Spelad</span>
                                                                    <button  onclick="window.location.href='/playoffs/game/<%= game.get("game_id") %>'" class="btn btn-xs btn-warning colormedark"><i class="fa fa-lock"></i> Se Matchrapport</button>
                                                                <% } else { %>
                                                                    <span class="label label-primary givemesomespace-right">Ej Spelad</span>
                                                                    <button  onclick="window.location.href='/playoffs/game/<%= game.get("game_id") %>'" class="btn btn-xs btn-success colormedark"><i class="fa fa-pencil"></i> Rapportera</button>
                                                                <% } %>
                                                            </div>
                                                            <div class="col-md-2 text-center">
                                                                <% if (game.get("played")) { %>
                                                                  <h1 title="Mål"><strong><%= game.get("away_goals_total") %></strong></h1>
                                                                  <h6 class="lowopacity" title="Skott"><%= game.get("away_shots_total") %></h6>
                                                                <% } else { %>
                                                                  <h1 title="Mål"><strong>0</strong></h1>
                                                                  <h6 class="lowopacity" title="Skott">0</h6>
                                                                <% } %>
                                                            </div>
                                                            <div class="col-md-2 text-center">
                                                                <a href="/team/<%= game.get("away").get("team_id") %>" target="_blank">
                                                                    <img src="<%= game.get("away").get("nhlTeam").get("logo").url() %>" class="img-responsive img-thumbnail center-block" alt="Away Team Logo" style="min-height:75px;height:75px; margin: 0 auto;">
                                                                </a>
                                                                <h4 class="text-center"><%= game.get("away").get("nickname") %></h4>
                                                            </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }
                                    }) %>
                                <% } else { %>
                                    <p>Ingen match är tillgänglig.</p>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="semifinal">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <% if(typeof(games) !== 'undefined'){
                                if (_.size(games) > 0) {
                                    games.forEach(function loop(game) { %>
                                        <% if(_.isEqual(game.get("round"), 2)){ %>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="panel panel-default gamepanel">
                                                    <div class="panel-body">
                                                      <div class="row">
                                                          <div class="col-md-2 text-center">
                                                              <a href="/team/<%= game.get("home").get("team_id") %>" target="_blank">
                                                                  <img src="<%= game.get("home").get("nhlTeam").get("logo").url() %>" class="img-responsive img-thumbnail center-block" alt="Home Team Logo" style="min-height:75px;height:75px; margin: 0 auto;">
                                                              </a>
                                                              <h4 class="text-center"><%= game.get("home").get("nickname") %></h4>
                                                          </div>
                                                          <div class="col-md-2 text-center">
                                                              <% if (game.get("played")) { %>
                                                                <h2><strong><%= game.get("home_goals_total") %></strong></h2>
                                                                <h6><%= game.get("home_shots_total") %></h6>
                                                              <% } else { %>
                                                                <h2><strong>0</strong></h2>
                                                                <h6>0</h6>
                                                              <% } %>
                                                          </div>
                                                          <div class="col-md-4 text-center">
                                                              <h2><strong>VS.</strong></h2>
                                                              <% if (game.get("played")) { %>
                                                                  <span class="label label-sucess givemesomespace-right">Spelad</span>
                                                                  <button  onclick="window.location.href='/playoffs/game/<%= game.get("game_id") %>'" class="btn btn-xs btn-warning"><i class="fa fa-lock"></i> Se Matchrapport</button>
                                                              <% } else { %>
                                                                  <span class="label label-primary givemesomespace-right">Ej Spelad</span>
                                                                  <button  onclick="window.location.href='/playoffs/game/<%= game.get("game_id") %>'" class="btn btn-xs btn-success"><i class="fa fa-pencil"></i> Rapportera</button>
                                                              <% } %>
                                                          </div>
                                                          <div class="col-md-2 text-center">
                                                              <% if (game.get("played")) { %>
                                                                <h2><strong><%= game.get("away_goals_total") %></strong></h2>
                                                                <h6><%= game.get("away_shots_total") %></h6>
                                                              <% } else { %>
                                                                <h2><strong>0</strong></h2>
                                                                <h6>0</h6>
                                                              <% } %>
                                                          </div>
                                                          <div class="col-md-2 text-center">
                                                              <a href="/team/<%= game.get("away").get("team_id") %>" target="_blank">
                                                                  <img src="<%= game.get("away").get("nhlTeam").get("logo").url() %>" class="img-responsive img-thumbnail center-block" alt="Away Team Logo" style="min-height:75px;height:75px; margin: 0 auto;">
                                                              </a>
                                                              <h4 class="text-center"><%= game.get("away").get("nickname") %></h4>
                                                          </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                              </div>
                                          </div>
                                        <% }
                                    }) %>
                                <% } else { %>
                                    <p>Ingen match är tillgänglig.</p>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="final">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <% if(typeof(games) !== 'undefined'){
                                if (_.size(games) > 0) {
                                    games.forEach(function loop(game) { %>
                                      <% if(_.isEqual(game.get("round"), 3)){ %>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-default gamepanel">
                                                  <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-2 text-center">
                                                            <a href="/team/<%= game.get("home").get("team_id") %>" target="_blank">
                                                                <img src="<%= game.get("home").get("nhlTeam").get("logo").url() %>" class="img-responsive img-thumbnail center-block" alt="Home Team Logo" style="min-height:75px;height:75px; margin: 0 auto;">
                                                            </a>
                                                            <h4 class="text-center"><%= game.get("home").get("nickname") %></h4>
                                                        </div>
                                                        <div class="col-md-2 text-center">
                                                            <h2><strong>0</strong></h2>
                                                        </div>
                                                        <div class="col-md-4 text-center">
                                                            <h2><strong>VS.</strong></h2>
                                                            <% if (game.get("played")) { %>
                                                                <span class="label label-sucess givemesomespace-right">Spelad</span>
                                                                <button  onclick="window.location.href='/playoffs/game/<%= game.get("game_id") %>'" class="btn btn-xs btn-warning"><i class="fa fa-lock"></i> Se Matchrapport</button>
                                                            <% } else { %>
                                                                <span class="label label-primary givemesomespace-right">Ej Spelad</span>
                                                                <button  onclick="window.location.href='/playoffs/game/<%= game.get("game_id") %>'" class="btn btn-xs btn-success"><i class="fa fa-pencil"></i> Rapportera</button>
                                                            <% } %>
                                                        </div>
                                                        <div class="col-md-2 text-center">
                                                            <h2><strong>0</strong></h2>
                                                        </div>
                                                        <div class="col-md-2 text-center">
                                                            <a href="/team/<%= game.get("away").get("team_id") %>" target="_blank">
                                                                <img src="<%= game.get("away").get("nhlTeam").get("logo").url() %>" class="img-responsive img-thumbnail center-block" alt="Away Team Logo" style="min-height:75px;height:75px; margin: 0 auto;">
                                                            </a>
                                                            <h4 class="text-center"><%= game.get("away").get("nickname") %></h4>
                                                        </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                      <% }
                                    }) %>
                                <% } else { %>
                                    <p>Ingen match är tillgänglig.</p>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <p class="text-center hidden-xs colormeblue" style="margin-top: 2.5em;"><small>&copy; 2015 Copyright The Cobra Cup</small></p>
    <p class="text-center hidden-xs">
        <a href="https://twitter.com/CobraCup" class="twitter-follow-button" data-show-count="false" data-lang="sv">Följ @CobraCup</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </p>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../dist/js/flat-ui.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
    <script>
        $('#tabs1 a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        })
    </script>
</body>

</html>
