<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include header section which holds imports for shared elements -->
    <% include _header %>

    <title>Rapportera - Cobra Cup 2016</title>

    <!-- Latest compiled and minified CSS -->
    <link href="../../dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../../dist/css/flat-ui.css">

    <link rel="stylesheet" href="../../stylesheets/style.css">
    <script>
     !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
     arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
     d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
     insertBefore(d,q)}(window,document,'script','_gs');

     _gs('GSN-270173-J');
    </script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><i class="fa fa-cube"></i> Hub <span style="font-family: 'Kaushan Script', cursive;">2016</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Lag</a></li>
                <li><a href="/signup">Anmäl lag</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tabeller <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/stat/league">Ligan</a></li>
                    <li><a href="/stat/divisions">Divisioner</a></li>
                    <li><a href="/stat/playerstats">Spelarstatistik</a></li>
                  </ul>
                </li>
                <li><a href="/stat/history">Statistik</a></li>
                <li><a href="/games">Matcher</a></li>
                <li><a href="/feed"><mark>Live</mark></a></li>
                <li><a href="http://cobracup.se" target="_blank"><i class="fa fa-home"></i> cobracup.se</a></li>
              </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <% if(typeof(flashError) !== 'undefined'){ %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong>Fel!</strong> <%= flashError %>.
            </div>
        <% } else if(typeof(flashErrorGame) !== 'undefined'){ %>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <strong>Fel!</strong> <%= flashErrorGame %>
            </div>
        <% } %>
        <% if(typeof(game) !== 'undefined'){

            var round = "";
            if(typeof(game[0].get("round")) !== 'undefined'){
                round = game[0].get("round");
            }

            var group = "";
            if(typeof(game[0].get("group")) !== 'undefined'){
                group = game[0].get("group");
            }

            var played = false;
            if( typeof(game[0].get("played")) !== 'undefined' && _.isEqual(game[0].get("played"), true) ){
                played = true;
            }

            var home_team_name = "";
            if( typeof(game[0].get("home").get("team_name")) !== 'undefined' && !_.isEmpty(game[0].get("home").get("team_name")) ){
                home_team_name = game[0].get("home").get("team_name");
            }

            var home_goals_total = 0;
            if(typeof(game[0].get("home_goals_total")) !== 'undefined'){
                home_goals_total = game[0].get("home_goals_total");
            }

            var home_logo_url = "";
            if( typeof(game[0].get("home").get("nhlTeam").get("logo").url()) !== 'undefined' && !_.isEmpty(game[0].get("home").get("nhlTeam").get("logo").url()) ){
                home_logo_url = game[0].get("home").get("nhlTeam").get("logo").url();
            }

            var home_captain_name = "";
            if( typeof(game[0].get("home").get("captain").get("name")) !== 'undefined' && !_.isEmpty(game[0].get("home").get("captain").get("name")) ){
                home_captain_name = game[0].get("home").get("captain").get("name");
            }

            var home_captain_id = "";
            if( typeof(game[0].get("home").get("captain").get("player_id")) !== 'undefined' && !_.isEmpty(game[0].get("home").get("captain").get("player_id")) ){
                home_captain_id = game[0].get("home").get("captain").get("player_id");
            }

            var home_lieutenant_name = "";
            if( typeof(game[0].get("home").get("lieutenant").get("name")) !== 'undefined' && !_.isEmpty(game[0].get("home").get("lieutenant").get("name")) ){
                home_lieutenant_name = game[0].get("home").get("lieutenant").get("name");
            }
            
            var home_lieutenant_id = "";
            if( typeof(game[0].get("home").get("lieutenant").get("player_id")) !== 'undefined' && !_.isEmpty(game[0].get("home").get("lieutenant").get("player_id")) ){
                home_lieutenant_id = game[0].get("home").get("lieutenant").get("player_id");
            }
            
            var home_shots_p1 = 0;
            var home_shots_p2 = 0;
            var home_shots_p3 = 0;
            var home_shots_ot = 0;

            var home_faceoffs_p1 = 0;
            var home_faceoffs_p2 = 0;
            var home_faceoffs_p3 = 0;
            var home_faceoffs_ot = 0;

            var home_captain_fights = 0;

            var home_captain_goals_p1 = 0;
            var home_captain_goals_p2 = 0;
            var home_captain_goals_p3 = 0;
            var home_captain_goals_ot = 0;

            var home_captain_assists_p1 = 0;
            var home_captain_assists_p2 = 0;
            var home_captain_assists_p3 = 0;
            var home_captain_assists_ot = 0;

            var home_shots_ot = 0;
            
            var home_lieutenant_goals_p1 = 0;
            var home_lieutenant_goals_p2 = 0;
            var home_lieutenant_goals_p3 = 0;
            var home_lieutenant_goals_ot = 0;

            var home_lieutenant_assists_p1 = 0;
            var home_lieutenant_assists_p2 = 0;
            var home_lieutenant_assists_p3 = 0;
            var home_lieutenant_assists_ot = 0;

            var away_team_name = "";
            if( typeof(game[0].get("away").get("team_name")) !== 'undefined' && !_.isEmpty(game[0].get("away").get("team_name")) ){
                away_team_name = game[0].get("away").get("team_name");
            }

            var away_goals_total = 0;
            if(typeof(game[0].get("away_goals_total")) !== 'undefined'){
                away_goals_total = game[0].get("away_goals_total");
            }

            var away_logo_url = "";
            if( typeof(game[0].get("away").get("nhlTeam").get("logo").url()) !== 'undefined' && !_.isEmpty(game[0].get("away").get("nhlTeam").get("logo").url()) ){
                away_logo_url = game[0].get("away").get("nhlTeam").get("logo").url();
            }

            var away_captain_name = "";
            if( typeof(game[0].get("away").get("captain").get("name")) !== 'undefined' && !_.isEmpty(game[0].get("away").get("captain").get("name")) ){
                away_captain_name = game[0].get("away").get("captain").get("name");
            }

            var away_captain_id = "";
            if( typeof(game[0].get("away").get("captain").get("player_id")) !== 'undefined' && !_.isEmpty(game[0].get("away").get("captain").get("player_id")) ){
                away_captain_id = game[0].get("away").get("captain").get("player_id");
            }

            var away_lieutenant_name = "";
            if( typeof(game[0].get("away").get("lieutenant").get("name")) !== 'undefined' && !_.isEmpty(game[0].get("away").get("lieutenant").get("name")) ){
                away_lieutenant_name = game[0].get("away").get("lieutenant").get("name");
            }

            var away_lieutenant_id = "";
            if( typeof(game[0].get("away").get("lieutenant").get("player_id")) !== 'undefined' && !_.isEmpty(game[0].get("away").get("lieutenant").get("player_id")) ){
                away_lieutenant_id = game[0].get("away").get("lieutenant").get("player_id");
            }

            var away_shots_p1 = 0;
            var away_shots_p2 = 0;
            var away_shots_p3 = 0;
            var away_shots_ot = 0;

            var away_faceoffs_p1 = 0;
            var away_faceoffs_p2 = 0;
            var away_faceoffs_p3 = 0;
            var away_faceoffs_ot = 0;

            var away_captain_fights = 0;

            var away_captain_goals_p1 = 0;
            var away_captain_goals_p2 = 0;
            var away_captain_goals_p3 = 0;
            var away_captain_goals_ot = 0;

            var away_captain_assists_p1 = 0;
            var away_captain_assists_p2 = 0;
            var away_captain_assists_p3 = 0;
            var away_captain_assists_ot = 0;

            var away_lieutenant_fights = 0;

            var away_lieutenant_goals_p1 = 0;
            var away_lieutenant_goals_p2 = 0;
            var away_lieutenant_goals_p3 = 0;
            var away_lieutenant_goals_ot = 0;

            var away_lieutenant_assists_p1 = 0;
            var away_lieutenant_assists_p2 = 0;
            var away_lieutenant_assists_p3 = 0;
            var away_lieutenant_assists_ot = 0;

            var overtime = false;

            if (game[0].get("played")) {
                var home_stats = game[0].get("home_stats");

                home_shots_p1 = home_stats.shots_p1;
                home_shots_p2 = home_stats.shots_p2;
                home_shots_p3 = home_stats.shots_p3;
                home_shots_ot = home_stats.shots_ot;

                home_faceoffs_p1 = home_stats.faceoffs_p1;
                home_faceoffs_p2 = home_stats.faceoffs_p2;
                home_faceoffs_p3 = home_stats.faceoffs_p3;
                home_faceoffs_ot = home_stats.faceoffs_ot;

                home_captain_goals_p1 = home_stats.captain_goals_p1;
                home_captain_goals_p2 = home_stats.captain_goals_p2;
                home_captain_goals_p3 = home_stats.captain_goals_p3;
                home_captain_goals_ot = home_stats.captain_goals_ot;

                home_captain_assists_p1 = home_stats.captain_assists_p1;
                home_captain_assists_p2 = home_stats.captain_assists_p2;
                home_captain_assists_p3 = home_stats.captain_assists_p3;
                home_captain_assists_ot = home_stats.captain_assists_ot;

                home_captain_fights = home_stats.captain_fights;

                home_lieutenant_goals_p1 = home_stats.lieutenant_goals_p1;
                home_lieutenant_goals_p2 = home_stats.lieutenant_goals_p2;
                home_lieutenant_goals_p3 = home_stats.lieutenant_goals_p3;
                home_lieutenant_goals_ot = home_stats.lieutenant_goals_ot;

                home_lieutenant_assists_p1 = home_stats.lieutenant_assists_p1;
                home_lieutenant_assists_p2 = home_stats.lieutenant_assists_p2;
                home_lieutenant_assists_p3 = home_stats.lieutenant_assists_p3;
                home_lieutenant_assists_ot = home_stats.lieutenant_assists_ot;

                home_shots_ot = home_stats.lieutenant_fights;

                var away_stats = game[0].get("away_stats");

                away_shots_p1 = away_stats.shots_p1;
                away_shots_p2 = away_stats.shots_p2;
                away_shots_p3 = away_stats.shots_p3;
                away_shots_ot = away_stats.shots_ot;

                away_faceoffs_p1 = away_stats.faceoffs_p1;
                away_faceoffs_p2 = away_stats.faceoffs_p2;
                away_faceoffs_p3 = away_stats.faceoffs_p3;
                away_faceoffs_ot = away_stats.faceoffs_ot;

                away_captain_goals_p1 = away_stats.captain_goals_p1;
                away_captain_goals_p2 = away_stats.captain_goals_p2;
                away_captain_goals_p3 = away_stats.captain_goals_p3;
                away_captain_goals_ot = away_stats.captain_goals_ot;

                away_captain_assists_p1 = away_stats.captain_assists_p1;
                away_captain_assists_p2 = away_stats.captain_assists_p2;
                away_captain_assists_p3 = away_stats.captain_assists_p3;
                away_captain_assists_ot = away_stats.captain_assists_ot;

                away_captain_fights = away_stats.captain_fights;

                away_lieutenant_goals_p1 = away_stats.lieutenant_goals_p1;
                away_lieutenant_goals_p2 = away_stats.lieutenant_goals_p2;
                away_lieutenant_goals_p3 = away_stats.lieutenant_goals_p3;
                away_lieutenant_goals_ot = away_stats.lieutenant_goals_ot;

                away_lieutenant_assists_p1 = away_stats.lieutenant_assists_p1;
                away_lieutenant_assists_p2 = away_stats.lieutenant_assists_p2;
                away_lieutenant_assists_p3 = away_stats.lieutenant_assists_p3;
                away_lieutenant_assists_ot = away_stats.lieutenant_assists_ot;

                away_lieutenant_fights = away_stats.lieutenant_fights;

                overtime = _.isEqual(game[0].get("overtime"), true);
            }

            %>
            <div class="col-md-12">
                <h2 class="text-center text-uppercase"><%= home_team_name %> <span style="color: #F39C12;">vs.</span> <%= away_team_name %></h2>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <p class="text-center"><small>Runda #<strong><%= round %></strong> Grupp #<strong><%= group %></strong></small></p>
                <form class="form" role="form" method="post">
                    <div class="panel">
                        <div class="panel-body" style="margin-bottom: 0; padding-bottom: 0;">
                            <div class="col-md-6 col-md-offset-3" style="margin-bottom: 0;">
                                <div class="form-group col-md-5 col-xs-5" style="margin-bottom: 0;">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center input-hg" id="home_goals" name="home_goals" placeholder="0" value="<%= home_goals_total %>" style="font-weight: bold;" readonly>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center input-hg" id="home_goals" name="home_goals" placeholder="0" style="font-weight: bold;" readonly>
                                    <% } %>
                                </div>
                                <div class="col-md-2 col-xs-2" style="margin-bottom: 0;">
                                    <p class="lead text-uppercase text-center">-</p>
                                </div>
                                <div class="form-group col-md-5 col-xs-5" style="margin-bottom: 0;">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center input-hg" id="away_goals" name="away_goals" placeholder="0" value="<%= away_goals_total %>" style="font-weight: bold;" readonly>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center input-hg" id="away_goals" name="away_goals" placeholder="0" style="font-weight: bold;" readonly>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <div class="panel">
                        <div class="panel-heading" style="padding-bottom:0;">
                            <h6 class="text-uppercase" style="margin-bottom:0;">
                                <img src="<%= home_logo_url %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:25px;height:25px; float:left; margin-right:10px;">
                                <span>
                                    <strong>
                                        <%= home_team_name %> <small style="color: #34495E;">Hemma</small>
                                    </strong>
                                </span>
                            </h6>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p style="margin-bottom: 0;"><small><strong>Statistik</strong></small></p>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <p class="text-center" style="margin-bottom: 0;"><small><strong>1</strong></small></p>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <p class="text-center" style="margin-bottom: 0;"><small><strong>2</strong></small></p>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <p class="text-center" style="margin-bottom: 0;"><small><strong>3</strong></small></p>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <p class="text-center" style="margin-bottom: 0;"><small><strong>OT</strong></small></p>
                                </div>
                            </div>
                            <hr style="margin-bottom: 10px; margin-top: 10px;">
                            <!-- START home CAPTAIN -->
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-uppercase"><i class="fa fa-user hidden-xs"></i> <strong><%= getFirstname(home_captain_name) %></strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p>Mål</p>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_captain_goals_p1" name="home_captain_goals_p1" placeholder="0" value="<%= home_captain_goals_p1 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_captain_goals_p1" name="home_captain_goals_p1" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_captain_goals_p2" name="home_captain_goals_p2" placeholder="0" value="<%= home_captain_goals_p2 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_captain_goals_p2" name="home_captain_goals_p2" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_captain_goals_p3" name="home_captain_goals_p3" placeholder="0" value="<%= home_captain_goals_p3 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_captain_goals_p3" name="home_captain_goals_p3" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_captain_goals_ot" name="home_captain_goals_ot" placeholder="0" value="<%= home_captain_goals_ot %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_captain_goals_ot" name="home_captain_goals_ot" placeholder="0" required>
                                    <% } %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p>Assist</p>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_captain_assists_p1" name="home_captain_assists_p1" placeholder="0" value="<%= home_captain_assists_p1 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_captain_assists_p1" name="home_captain_assists_p1" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_captain_assists_p2" name="home_captain_assists_p2" placeholder="0" value="<%= home_captain_assists_p2 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_captain_assists_p2" name="home_captain_assists_p2" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_captain_assists_p3" name="home_captain_assists_p3" placeholder="0" value="<%= home_captain_assists_p3 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_captain_assists_p3" name="home_captain_assists_p3" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_captain_assists_ot" name="home_captain_assists_ot" placeholder="0" value="<%= home_captain_assists_ot %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_captain_assists_ot" name="home_captain_assists_ot" placeholder="0" required>
                                    <% } %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p>Fajter</p>
                                </div>
                                <div class="form-group col-md-8">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_captain_fights" name="home_captain_fights" placeholder="0" value="<%= home_captain_fights %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_captain_fights" name="home_captain_fights" placeholder="0" required>
                                    <% } %>
                                </div>
                            </div>
                            <!-- END home CAPTAIN -->
                            <!-- START home lieutenant -->
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-uppercase"><i class="fa fa-user hidden-xs"></i> <strong><%= getFirstname(home_lieutenant_name) %></strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p>Mål</p>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_lieutenant_goals_p1" name="home_lieutenant_goals_p1" placeholder="0" value="<%= home_lieutenant_goals_p1 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_lieutenant_goals_p1" name="home_lieutenant_goals_p1" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_lieutenant_goals_p2" name="home_lieutenant_goals_p2" placeholder="0" value="<%= home_lieutenant_goals_p2 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_lieutenant_goals_p2" name="home_lieutenant_goals_p2" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_lieutenant_goals_p3" name="home_lieutenant_goals_p3" placeholder="0" value="<%= home_lieutenant_goals_p3 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_lieutenant_goals_p3" name="home_lieutenant_goals_p3" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_lieutenant_goals_ot" name="home_lieutenant_goals_ot" placeholder="0" value="<%= home_lieutenant_goals_ot %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_lieutenant_goals_ot" name="home_lieutenant_goals_ot" placeholder="0" required>
                                    <% } %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p>Assist</p>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_lieutenant_assists_p1" name="home_lieutenant_assists_p1" placeholder="0" value="<%= home_lieutenant_assists_p1 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_lieutenant_assists_p1" name="home_lieutenant_assists_p1" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_lieutenant_assists_p2" name="home_lieutenant_assists_p2" placeholder="0" value="<%= home_lieutenant_assists_p2 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_lieutenant_assists_p2" name="home_lieutenant_assists_p2" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_lieutenant_assists_p3" name="home_lieutenant_assists_p3" placeholder="0" value="<%= home_lieutenant_assists_p3 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_lieutenant_assists_p3" name="home_lieutenant_assists_p3" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_lieutenant_assists_ot" name="home_lieutenant_assists_ot" placeholder="0" value="<%= home_lieutenant_assists_ot %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_lieutenant_assists_ot" name="home_lieutenant_assists_ot" placeholder="0" required>
                                    <% } %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p>Fajter</p>
                                </div>
                                <div class="form-group col-md-8">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_shots_ot" name="home_shots_ot" placeholder="0" value="<%= home_shots_ot %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_shots_ot" name="home_shots_ot" placeholder="0" required>
                                    <% } %>
                                </div>
                            </div>
                            <!-- END home lieutenant -->
                            <!-- START home team -->
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-uppercase"><i class="fa fa-group hidden-xs"></i> <strong>Laget</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p>Skott</p>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_shots_p1" name="home_shots_p1" placeholder="0" value="<%= home_shots_p1 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_shots_p1" name="home_shots_p1" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_shots_p2" name="home_shots_p2" placeholder="0" value="<%= home_shots_p2 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_shots_p2" name="home_shots_p2" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_shots_p3" name="home_shots_p3" placeholder="0" value="<%= home_shots_p3 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_shots_p3" name="home_shots_p3" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_shots_ot" name="home_shots_ot" placeholder="0" value="<%= home_shots_ot %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_shots_ot" name="home_shots_ot" placeholder="0" required>
                                    <% } %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p>Tekningar</p>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_faceoffs_p1" name="home_faceoffs_p1" placeholder="0" value="<%= home_faceoffs_p1 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_faceoffs_p1" name="home_faceoffs_p1" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_faceoffs_p2" name="home_faceoffs_p2" placeholder="0" value="<%= home_faceoffs_p2 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_faceoffs_p2" name="home_faceoffs_p2" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_faceoffs_p3" name="home_faceoffs_p3" placeholder="0" value="<%= home_faceoffs_p3 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_faceoffs_p3" name="home_faceoffs_p3" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="home_faceoffs_ot" name="home_faceoffs_ot" placeholder="0" value="<%= home_faceoffs_ot %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="home_faceoffs_ot" name="home_faceoffs_ot" placeholder="0" required>
                                    <% } %>
                                </div>
                            </div>
                            <!-- END home team -->
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading" style="padding-bottom:0;">
                            <h6 class="text-uppercase" style="margin-bottom:0;">
                                <img src="<%= away_logo_url %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:25px;height:25px; float:left; margin-right:10px;">
                                <span>
                                    <strong>
                                        <%= away_team_name %> <small style="color: #34495E;">Borta</small>
                                    </strong>
                                </span>
                            </h6>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p style="margin-bottom: 0;"><small><strong>Statistik</strong></small></p>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <p class="text-center" style="margin-bottom: 0;"><small><strong>1</strong></small></p>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <p class="text-center" style="margin-bottom: 0;"><small><strong>2</strong></small></p>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <p class="text-center" style="margin-bottom: 0;"><small><strong>3</strong></small></p>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <p class="text-center" style="margin-bottom: 0;"><small><strong>OT</strong></small></p>
                                </div>
                            </div>
                            <hr style="margin-bottom: 10px; margin-top: 10px;">
                            <!-- START away CAPTAIN -->
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-uppercase"><i class="fa fa-user hidden-xs"></i> <strong><%= getFirstname(away_captain_name) %></strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p>Mål</p>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_captain_goals_p1" name="away_captain_goals_p1" placeholder="0" value="<%= away_captain_goals_p1 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_captain_goals_p1" name="away_captain_goals_p1" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_captain_goals_p2" name="away_captain_goals_p2" placeholder="0" value="<%= away_captain_goals_p2 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_captain_goals_p2" name="away_captain_goals_p2" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_captain_goals_p3" name="away_captain_goals_p3" placeholder="0" value="<%= away_captain_goals_p3 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_captain_goals_p3" name="away_captain_goals_p3" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_captain_goals_ot" name="away_captain_goals_ot" placeholder="0" value="<%= away_captain_goals_ot %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_captain_goals_ot" name="away_captain_goals_ot" placeholder="0" required>
                                    <% } %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p>Assist</p>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_captain_assists_p1" name="away_captain_assists_p1" placeholder="0" value="<%= away_captain_assists_p1 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_captain_assists_p1" name="away_captain_assists_p1" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_captain_assists_p2" name="away_captain_assists_p2" placeholder="0" value="<%= away_captain_assists_p2 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_captain_assists_p2" name="away_captain_assists_p2" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_captain_assists_p3" name="away_captain_assists_p3" placeholder="0" value="<%= away_captain_assists_p3 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_captain_assists_p3" name="away_captain_assists_p3" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_captain_assists_ot" name="away_captain_assists_ot" placeholder="0" value="<%= away_captain_assists_ot %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_captain_assists_ot" name="away_captain_assists_ot" placeholder="0" required>
                                    <% } %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p>Fajter</p>
                                </div>
                                <div class="form-group col-md-8">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_captain_fights" name="away_captain_fights" placeholder="0" value="<%= away_captain_fights %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_captain_fights" name="away_captain_fights" placeholder="0" required>
                                    <% } %>
                                </div>
                            </div>
                            <!-- END away CAPTAIN -->
                            <!-- START away lieutenant -->
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-uppercase"><i class="fa fa-user hidden-xs"></i> <strong><%= getFirstname(away_lieutenant_name) %></strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p>Mål</p>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_lieutenant_goals_p1" name="away_lieutenant_goals_p1" placeholder="0" value="<%= away_lieutenant_goals_p1 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_lieutenant_goals_p1" name="away_lieutenant_goals_p1" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_lieutenant_goals_p2" name="away_lieutenant_goals_p2" placeholder="0" value="<%= away_lieutenant_goals_p2 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_lieutenant_goals_p2" name="away_lieutenant_goals_p2" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_lieutenant_goals_p3" name="away_lieutenant_goals_p3" placeholder="0" value="<%= away_lieutenant_goals_p3 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_lieutenant_goals_p3" name="away_lieutenant_goals_p3" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_lieutenant_goals_ot" name="away_lieutenant_goals_ot" placeholder="0" value="<%= away_lieutenant_goals_ot %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_lieutenant_goals_ot" name="away_lieutenant_goals_ot" placeholder="0" required>
                                    <% } %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p>Assist</p>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_lieutenant_assists_p1" name="away_lieutenant_assists_p1" placeholder="0" value="<%= away_lieutenant_assists_p1 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_lieutenant_assists_p1" name="away_lieutenant_assists_p1" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_lieutenant_assists_p2" name="away_lieutenant_assists_p2" placeholder="0" value="<%= away_lieutenant_assists_p2 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_lieutenant_assists_p2" name="away_lieutenant_assists_p2" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_lieutenant_assists_p3" name="away_lieutenant_assists_p3" placeholder="0" value="<%= away_lieutenant_assists_p3 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_lieutenant_assists_p3" name="away_lieutenant_assists_p3" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_lieutenant_assists_ot" name="away_lieutenant_assists_ot" placeholder="0" value="<%= away_lieutenant_assists_ot %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_lieutenant_assists_ot" name="away_lieutenant_assists_ot" placeholder="0" required>
                                    <% } %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p>Fajter</p>
                                </div>
                                <div class="form-group col-md-8">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_shots_ot" name="away_shots_ot" placeholder="0" value="<%= away_shots_ot %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_shots_ot" name="away_shots_ot" placeholder="0" required>
                                    <% } %>
                                </div>
                            </div>
                            <!-- END away lieutenant -->
                            <!-- START away team -->
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-uppercase"><i class="fa fa-group hidden-xs"></i> <strong>Laget</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p>Skott</p>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_shots_p1" name="away_shots_p1" placeholder="0" value="<%= away_shots_p1 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_shots_p1" name="away_shots_p1" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_shots_p2" name="away_shots_p2" placeholder="0" value="<%= away_shots_p2 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_shots_p2" name="away_shots_p2" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_shots_p3" name="away_shots_p3" placeholder="0" value="<%= away_shots_p3 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_shots_p3" name="away_shots_p3" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_shots_ot" name="away_shots_ot" placeholder="0" value="<%= away_shots_ot %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_shots_ot" name="away_shots_ot" placeholder="0" required>
                                    <% } %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <p>Tekningar</p>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_faceoffs_p1" name="away_faceoffs_p1" placeholder="0" value="<%= away_faceoffs_p1 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_faceoffs_p1" name="away_faceoffs_p1" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_faceoffs_p2" name="away_faceoffs_p2" placeholder="0" value="<%= away_faceoffs_p2 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_faceoffs_p2" name="away_faceoffs_p2" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_faceoffs_p3" name="away_faceoffs_p3" placeholder="0" value="<%= away_faceoffs_p3 %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_faceoffs_p3" name="away_faceoffs_p3" placeholder="0" required>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <% if(played){ %>
                                        <input type="text" class="form-control text-center" id="away_faceoffs_ot" name="away_faceoffs_ot" placeholder="0" value="<%= away_faceoffs_ot %>" required>
                                    <% } else { %>
                                        <input type="text" class="form-control text-center" id="away_faceoffs_ot" name="away_faceoffs_ot" placeholder="0" required>
                                    <% } %>
                                </div>
                            </div>
                            <!-- END away team -->
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center">
                                        <% if(played) { %>
                                            Resultat för denna match uppdaterades
                                            <br>
                                            <span class="text-capitalize"><strong><%= formatDateAndTime(game[0].get("updatedAt")) %></strong></span>
                                        <% } else { %>
                                            Denna match har inte rapporterats ännu
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <div class="form-group" style="margin-bottom: 0;">
                                <input type='hidden' name='home_captain_id' id='home_captain_id' value='<%= home_captain_id %>' />
                                <input type='hidden' name='home_lieutenant_id' id='home_lieutenant_id' value='<%= home_lieutenant_id %>' />
                                <input type='hidden' name='away_captain_id' id='away_captain_id' value='<%= away_captain_id %>' />
                                <input type='hidden' name='away_lieutenant_id' id='away_lieutenant_id' value='<%= away_lieutenant_id %>' />

                                <input type='hidden' name='_method' value='put' />
                                <% if(played) { %>
                                    <button type="submit" class="btn btn-hg btn-warning btn-wide btn-block text-uppercase" disabled><i class="fa fa-lock"></i> Matchresulat rapporterat</button>
                                    <p class="text-center" style="margin-bottom:0;"><small><em><strong>Kontakta admin för att uppdatera resultat</strong></em></small></p>
                                <% } else { %>
                                    <button type="submit" class="btn btn-hg btn-primary btn-wide btn-block text-uppercase" onclick="_gs('event', 'Submitted game result')">Rapportera match</button>
                                <% } %>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </form>
            </div>
        <% } %>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.container -->

    <p class="text-center" style="margin-top: 2.5em;"><small>&copy; 2015 Copyright The Cobra Cup</small></p>
    <p class="text-center">
        <a href="https://twitter.com/CobraCup" class="twitter-follow-button" data-show-count="false" data-lang="sv">Följ @CobraCup</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../dist/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../dist/js/flat-ui.min.js"></script>

    <!-- jQuery Version 1.11.0 -->
    <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->

    <script type="text/javascript">
        $(document).ready(function(){

            $('#home_captain_goals_p1').on('input', function() {
                var temp_home_captain_goals_p1 = $('#home_captain_goals_p1').val();
                var temp_home_captain_goals_p2 = $('#home_captain_goals_p2').val();
                var temp_home_captain_goals_p3 = $('#home_captain_goals_p3').val();
                var temp_home_captain_goals_ot = $('#home_captain_goals_ot').val();

                var temp_home_captain_goals =   parseInt(temp_home_captain_goals_p1) + 
                                                parseInt(temp_home_captain_goals_p2) + 
                                                parseInt(temp_home_captain_goals_p3) + 
                                                parseInt(temp_home_captain_goals_ot);

                var temp_home_lieutenant_goals_p1 = $('#home_lieutenant_goals_p1').val();
                var temp_home_lieutenant_goals_p2 = $('#home_lieutenant_goals_p2').val();
                var temp_home_lieutenant_goals_p3 = $('#home_lieutenant_goals_p3').val();
                var temp_home_lieutenant_goals_ot = $('#home_lieutenant_goals_ot').val();

                var temp_home_lieutenant_goals =    parseInt(temp_home_lieutenant_goals_p1) + 
                                                    parseInt(temp_home_lieutenant_goals_p2) + 
                                                    parseInt(temp_home_lieutenant_goals_p3) + 
                                                    parseInt(temp_home_lieutenant_goals_ot);

                var temp_home_goals_total = parseInt(temp_home_captain_goals) + parseInt(temp_home_lieutenant_goals);
                //alert("temp_home_goals_total: " + temp_home_goals_total);

                $('#home_goals').val(String(temp_home_goals_total));
            });

            $('#home_captain_goals_p2').on('input', function() {
                var temp_home_captain_goals_p1 = $('#home_captain_goals_p1').val();
                var temp_home_captain_goals_p2 = $('#home_captain_goals_p2').val();
                var temp_home_captain_goals_p3 = $('#home_captain_goals_p3').val();
                var temp_home_captain_goals_ot = $('#home_captain_goals_ot').val();

                var temp_home_captain_goals =   parseInt(temp_home_captain_goals_p1) + 
                                                parseInt(temp_home_captain_goals_p2) + 
                                                parseInt(temp_home_captain_goals_p3) + 
                                                parseInt(temp_home_captain_goals_ot);

                var temp_home_lieutenant_goals_p1 = $('#home_lieutenant_goals_p1').val();
                var temp_home_lieutenant_goals_p2 = $('#home_lieutenant_goals_p2').val();
                var temp_home_lieutenant_goals_p3 = $('#home_lieutenant_goals_p3').val();
                var temp_home_lieutenant_goals_ot = $('#home_lieutenant_goals_ot').val();

                var temp_home_lieutenant_goals =    parseInt(temp_home_lieutenant_goals_p1) + 
                                                    parseInt(temp_home_lieutenant_goals_p2) + 
                                                    parseInt(temp_home_lieutenant_goals_p3) + 
                                                    parseInt(temp_home_lieutenant_goals_ot);

                var temp_home_goals_total = parseInt(temp_home_captain_goals) + parseInt(temp_home_lieutenant_goals);
                //alert("temp_home_goals_total: " + temp_home_goals_total);

                $('#home_goals').val(String(temp_home_goals_total));
            });

            $('#home_captain_goals_p3').on('input', function() {
                var temp_home_captain_goals_p1 = $('#home_captain_goals_p1').val();
                var temp_home_captain_goals_p2 = $('#home_captain_goals_p2').val();
                var temp_home_captain_goals_p3 = $('#home_captain_goals_p3').val();
                var temp_home_captain_goals_ot = $('#home_captain_goals_ot').val();

                var temp_home_captain_goals =   parseInt(temp_home_captain_goals_p1) + 
                                                parseInt(temp_home_captain_goals_p2) + 
                                                parseInt(temp_home_captain_goals_p3) + 
                                                parseInt(temp_home_captain_goals_ot);

                var temp_home_lieutenant_goals_p1 = $('#home_lieutenant_goals_p1').val();
                var temp_home_lieutenant_goals_p2 = $('#home_lieutenant_goals_p2').val();
                var temp_home_lieutenant_goals_p3 = $('#home_lieutenant_goals_p3').val();
                var temp_home_lieutenant_goals_ot = $('#home_lieutenant_goals_ot').val();

                var temp_home_lieutenant_goals =    parseInt(temp_home_lieutenant_goals_p1) + 
                                                    parseInt(temp_home_lieutenant_goals_p2) + 
                                                    parseInt(temp_home_lieutenant_goals_p3) + 
                                                    parseInt(temp_home_lieutenant_goals_ot);

                var temp_home_goals_total = parseInt(temp_home_captain_goals) + parseInt(temp_home_lieutenant_goals);
                //alert("temp_home_goals_total: " + temp_home_goals_total);

                $('#home_goals').val(String(temp_home_goals_total));
            });

            $('#home_captain_goals_ot').on('input', function() {
                var temp_home_captain_goals_p1 = $('#home_captain_goals_p1').val();
                var temp_home_captain_goals_p2 = $('#home_captain_goals_p2').val();
                var temp_home_captain_goals_p3 = $('#home_captain_goals_p3').val();
                var temp_home_captain_goals_ot = $('#home_captain_goals_ot').val();

                var temp_home_captain_goals =   parseInt(temp_home_captain_goals_p1) + 
                                                parseInt(temp_home_captain_goals_p2) + 
                                                parseInt(temp_home_captain_goals_p3) + 
                                                parseInt(temp_home_captain_goals_ot);

                var temp_home_lieutenant_goals_p1 = $('#home_lieutenant_goals_p1').val();
                var temp_home_lieutenant_goals_p2 = $('#home_lieutenant_goals_p2').val();
                var temp_home_lieutenant_goals_p3 = $('#home_lieutenant_goals_p3').val();
                var temp_home_lieutenant_goals_ot = $('#home_lieutenant_goals_ot').val();

                var temp_home_lieutenant_goals =    parseInt(temp_home_lieutenant_goals_p1) + 
                                                    parseInt(temp_home_lieutenant_goals_p2) + 
                                                    parseInt(temp_home_lieutenant_goals_p3) + 
                                                    parseInt(temp_home_lieutenant_goals_ot);

                var temp_home_goals_total = parseInt(temp_home_captain_goals) + parseInt(temp_home_lieutenant_goals);
                //alert("temp_home_goals_total: " + temp_home_goals_total);

                $('#home_goals').val(String(temp_home_goals_total));
            });

            $('#home_lieutenant_goals_p1').on('input', function() {
               var temp_home_captain_goals_p1 = $('#home_captain_goals_p1').val();
                var temp_home_captain_goals_p2 = $('#home_captain_goals_p2').val();
                var temp_home_captain_goals_p3 = $('#home_captain_goals_p3').val();
                var temp_home_captain_goals_ot = $('#home_captain_goals_ot').val();

                var temp_home_captain_goals =   parseInt(temp_home_captain_goals_p1) + 
                                                parseInt(temp_home_captain_goals_p2) + 
                                                parseInt(temp_home_captain_goals_p3) + 
                                                parseInt(temp_home_captain_goals_ot);

                var temp_home_lieutenant_goals_p1 = $('#home_lieutenant_goals_p1').val();
                var temp_home_lieutenant_goals_p2 = $('#home_lieutenant_goals_p2').val();
                var temp_home_lieutenant_goals_p3 = $('#home_lieutenant_goals_p3').val();
                var temp_home_lieutenant_goals_ot = $('#home_lieutenant_goals_ot').val();

                var temp_home_lieutenant_goals =    parseInt(temp_home_lieutenant_goals_p1) + 
                                                    parseInt(temp_home_lieutenant_goals_p2) + 
                                                    parseInt(temp_home_lieutenant_goals_p3) + 
                                                    parseInt(temp_home_lieutenant_goals_ot);

                var temp_home_goals_total = parseInt(temp_home_captain_goals) + parseInt(temp_home_lieutenant_goals);
                //alert("temp_home_goals_total: " + temp_home_goals_total);

                $('#home_goals').val(String(temp_home_goals_total));
            });

            $('#home_lieutenant_goals_p2').on('input', function() {
               var temp_home_captain_goals_p1 = $('#home_captain_goals_p1').val();
                var temp_home_captain_goals_p2 = $('#home_captain_goals_p2').val();
                var temp_home_captain_goals_p3 = $('#home_captain_goals_p3').val();
                var temp_home_captain_goals_ot = $('#home_captain_goals_ot').val();

                var temp_home_captain_goals =   parseInt(temp_home_captain_goals_p1) + 
                                                parseInt(temp_home_captain_goals_p2) + 
                                                parseInt(temp_home_captain_goals_p3) + 
                                                parseInt(temp_home_captain_goals_ot);

                var temp_home_lieutenant_goals_p1 = $('#home_lieutenant_goals_p1').val();
                var temp_home_lieutenant_goals_p2 = $('#home_lieutenant_goals_p2').val();
                var temp_home_lieutenant_goals_p3 = $('#home_lieutenant_goals_p3').val();
                var temp_home_lieutenant_goals_ot = $('#home_lieutenant_goals_ot').val();

                var temp_home_lieutenant_goals =    parseInt(temp_home_lieutenant_goals_p1) + 
                                                    parseInt(temp_home_lieutenant_goals_p2) + 
                                                    parseInt(temp_home_lieutenant_goals_p3) + 
                                                    parseInt(temp_home_lieutenant_goals_ot);

                var temp_home_goals_total = parseInt(temp_home_captain_goals) + parseInt(temp_home_lieutenant_goals);
                //alert("temp_home_goals_total: " + temp_home_goals_total);

                $('#home_goals').val(String(temp_home_goals_total));
            });

            $('#home_lieutenant_goals_p3').on('input', function() {
               var temp_home_captain_goals_p1 = $('#home_captain_goals_p1').val();
                var temp_home_captain_goals_p2 = $('#home_captain_goals_p2').val();
                var temp_home_captain_goals_p3 = $('#home_captain_goals_p3').val();
                var temp_home_captain_goals_ot = $('#home_captain_goals_ot').val();

                var temp_home_captain_goals =   parseInt(temp_home_captain_goals_p1) + 
                                                parseInt(temp_home_captain_goals_p2) + 
                                                parseInt(temp_home_captain_goals_p3) + 
                                                parseInt(temp_home_captain_goals_ot);

                var temp_home_lieutenant_goals_p1 = $('#home_lieutenant_goals_p1').val();
                var temp_home_lieutenant_goals_p2 = $('#home_lieutenant_goals_p2').val();
                var temp_home_lieutenant_goals_p3 = $('#home_lieutenant_goals_p3').val();
                var temp_home_lieutenant_goals_ot = $('#home_lieutenant_goals_ot').val();

                var temp_home_lieutenant_goals =    parseInt(temp_home_lieutenant_goals_p1) + 
                                                    parseInt(temp_home_lieutenant_goals_p2) + 
                                                    parseInt(temp_home_lieutenant_goals_p3) + 
                                                    parseInt(temp_home_lieutenant_goals_ot);

                var temp_home_goals_total = parseInt(temp_home_captain_goals) + parseInt(temp_home_lieutenant_goals);
                //alert("temp_home_goals_total: " + temp_home_goals_total);

                $('#home_goals').val(String(temp_home_goals_total));
            });

            $('#home_lieutenant_goals_ot').on('input', function() {
               var temp_home_captain_goals_p1 = $('#home_captain_goals_p1').val();
                var temp_home_captain_goals_p2 = $('#home_captain_goals_p2').val();
                var temp_home_captain_goals_p3 = $('#home_captain_goals_p3').val();
                var temp_home_captain_goals_ot = $('#home_captain_goals_ot').val();

                var temp_home_captain_goals =   parseInt(temp_home_captain_goals_p1) + 
                                                parseInt(temp_home_captain_goals_p2) + 
                                                parseInt(temp_home_captain_goals_p3) + 
                                                parseInt(temp_home_captain_goals_ot);

                var temp_home_lieutenant_goals_p1 = $('#home_lieutenant_goals_p1').val();
                var temp_home_lieutenant_goals_p2 = $('#home_lieutenant_goals_p2').val();
                var temp_home_lieutenant_goals_p3 = $('#home_lieutenant_goals_p3').val();
                var temp_home_lieutenant_goals_ot = $('#home_lieutenant_goals_ot').val();

                var temp_home_lieutenant_goals =    parseInt(temp_home_lieutenant_goals_p1) + 
                                                    parseInt(temp_home_lieutenant_goals_p2) + 
                                                    parseInt(temp_home_lieutenant_goals_p3) + 
                                                    parseInt(temp_home_lieutenant_goals_ot);

                var temp_home_goals_total = parseInt(temp_home_captain_goals) + parseInt(temp_home_lieutenant_goals);
                //alert("temp_home_goals_total: " + temp_home_goals_total);

                $('#home_goals').val(String(temp_home_goals_total));
            });

            $('#away_captain_goals_p1').on('input', function() {
                var temp_away_captain_goals_p1 = $('#away_captain_goals_p1').val();
                var temp_away_captain_goals_p2 = $('#away_captain_goals_p2').val();
                var temp_away_captain_goals_p3 = $('#away_captain_goals_p3').val();
                var temp_away_captain_goals_ot = $('#away_captain_goals_ot').val();

                var temp_away_captain_goals =   parseInt(temp_away_captain_goals_p1) + 
                                                parseInt(temp_away_captain_goals_p2) + 
                                                parseInt(temp_away_captain_goals_p3) + 
                                                parseInt(temp_away_captain_goals_ot);

                var temp_away_lieutenant_goals_p1 = $('#away_lieutenant_goals_p1').val();
                var temp_away_lieutenant_goals_p2 = $('#away_lieutenant_goals_p2').val();
                var temp_away_lieutenant_goals_p3 = $('#away_lieutenant_goals_p3').val();
                var temp_away_lieutenant_goals_ot = $('#away_lieutenant_goals_ot').val();

                var temp_away_lieutenant_goals =    parseInt(temp_away_lieutenant_goals_p1) + 
                                                    parseInt(temp_away_lieutenant_goals_p2) + 
                                                    parseInt(temp_away_lieutenant_goals_p3) + 
                                                    parseInt(temp_away_lieutenant_goals_ot);

                var temp_away_goals_total = parseInt(temp_away_captain_goals) + parseInt(temp_away_lieutenant_goals);
                //alert("temp_away_goals_total: " + temp_away_goals_total);

                $('#away_goals').val(String(temp_away_goals_total));
            });

            $('#away_captain_goals_p2').on('input', function() {
                var temp_away_captain_goals_p1 = $('#away_captain_goals_p1').val();
                var temp_away_captain_goals_p2 = $('#away_captain_goals_p2').val();
                var temp_away_captain_goals_p3 = $('#away_captain_goals_p3').val();
                var temp_away_captain_goals_ot = $('#away_captain_goals_ot').val();

                var temp_away_captain_goals =   parseInt(temp_away_captain_goals_p1) + 
                                                parseInt(temp_away_captain_goals_p2) + 
                                                parseInt(temp_away_captain_goals_p3) + 
                                                parseInt(temp_away_captain_goals_ot);

                var temp_away_lieutenant_goals_p1 = $('#away_lieutenant_goals_p1').val();
                var temp_away_lieutenant_goals_p2 = $('#away_lieutenant_goals_p2').val();
                var temp_away_lieutenant_goals_p3 = $('#away_lieutenant_goals_p3').val();
                var temp_away_lieutenant_goals_ot = $('#away_lieutenant_goals_ot').val();

                var temp_away_lieutenant_goals =    parseInt(temp_away_lieutenant_goals_p1) + 
                                                    parseInt(temp_away_lieutenant_goals_p2) + 
                                                    parseInt(temp_away_lieutenant_goals_p3) + 
                                                    parseInt(temp_away_lieutenant_goals_ot);

                var temp_away_goals_total = parseInt(temp_away_captain_goals) + parseInt(temp_away_lieutenant_goals);
                //alert("temp_away_goals_total: " + temp_away_goals_total);

                $('#away_goals').val(String(temp_away_goals_total));
            });

            $('#away_captain_goals_p3').on('input', function() {
                var temp_away_captain_goals_p1 = $('#away_captain_goals_p1').val();
                var temp_away_captain_goals_p2 = $('#away_captain_goals_p2').val();
                var temp_away_captain_goals_p3 = $('#away_captain_goals_p3').val();
                var temp_away_captain_goals_ot = $('#away_captain_goals_ot').val();

                var temp_away_captain_goals =   parseInt(temp_away_captain_goals_p1) + 
                                                parseInt(temp_away_captain_goals_p2) + 
                                                parseInt(temp_away_captain_goals_p3) + 
                                                parseInt(temp_away_captain_goals_ot);

                var temp_away_lieutenant_goals_p1 = $('#away_lieutenant_goals_p1').val();
                var temp_away_lieutenant_goals_p2 = $('#away_lieutenant_goals_p2').val();
                var temp_away_lieutenant_goals_p3 = $('#away_lieutenant_goals_p3').val();
                var temp_away_lieutenant_goals_ot = $('#away_lieutenant_goals_ot').val();

                var temp_away_lieutenant_goals =    parseInt(temp_away_lieutenant_goals_p1) + 
                                                    parseInt(temp_away_lieutenant_goals_p2) + 
                                                    parseInt(temp_away_lieutenant_goals_p3) + 
                                                    parseInt(temp_away_lieutenant_goals_ot);

                var temp_away_goals_total = parseInt(temp_away_captain_goals) + parseInt(temp_away_lieutenant_goals);
                //alert("temp_away_goals_total: " + temp_away_goals_total);

                $('#away_goals').val(String(temp_away_goals_total));
            });

            $('#away_captain_goals_ot').on('input', function() {
                var temp_away_captain_goals_p1 = $('#away_captain_goals_p1').val();
                var temp_away_captain_goals_p2 = $('#away_captain_goals_p2').val();
                var temp_away_captain_goals_p3 = $('#away_captain_goals_p3').val();
                var temp_away_captain_goals_ot = $('#away_captain_goals_ot').val();

                var temp_away_captain_goals =   parseInt(temp_away_captain_goals_p1) + 
                                                parseInt(temp_away_captain_goals_p2) + 
                                                parseInt(temp_away_captain_goals_p3) + 
                                                parseInt(temp_away_captain_goals_ot);

                var temp_away_lieutenant_goals_p1 = $('#away_lieutenant_goals_p1').val();
                var temp_away_lieutenant_goals_p2 = $('#away_lieutenant_goals_p2').val();
                var temp_away_lieutenant_goals_p3 = $('#away_lieutenant_goals_p3').val();
                var temp_away_lieutenant_goals_ot = $('#away_lieutenant_goals_ot').val();

                var temp_away_lieutenant_goals =    parseInt(temp_away_lieutenant_goals_p1) + 
                                                    parseInt(temp_away_lieutenant_goals_p2) + 
                                                    parseInt(temp_away_lieutenant_goals_p3) + 
                                                    parseInt(temp_away_lieutenant_goals_ot);

                var temp_away_goals_total = parseInt(temp_away_captain_goals) + parseInt(temp_away_lieutenant_goals);
                //alert("temp_away_goals_total: " + temp_away_goals_total);

                $('#away_goals').val(String(temp_away_goals_total));
            });

            $('#away_lieutenant_goals_p1').on('input', function() {
                var temp_away_captain_goals_p1 = $('#away_captain_goals_p1').val();
                var temp_away_captain_goals_p2 = $('#away_captain_goals_p2').val();
                var temp_away_captain_goals_p3 = $('#away_captain_goals_p3').val();
                var temp_away_captain_goals_ot = $('#away_captain_goals_ot').val();

                var temp_away_captain_goals =   parseInt(temp_away_captain_goals_p1) + 
                                                parseInt(temp_away_captain_goals_p2) + 
                                                parseInt(temp_away_captain_goals_p3) + 
                                                parseInt(temp_away_captain_goals_ot);

                var temp_away_lieutenant_goals_p1 = $('#away_lieutenant_goals_p1').val();
                var temp_away_lieutenant_goals_p2 = $('#away_lieutenant_goals_p2').val();
                var temp_away_lieutenant_goals_p3 = $('#away_lieutenant_goals_p3').val();
                var temp_away_lieutenant_goals_ot = $('#away_lieutenant_goals_ot').val();

                var temp_away_lieutenant_goals =    parseInt(temp_away_lieutenant_goals_p1) + 
                                                    parseInt(temp_away_lieutenant_goals_p2) + 
                                                    parseInt(temp_away_lieutenant_goals_p3) + 
                                                    parseInt(temp_away_lieutenant_goals_ot);

                var temp_away_goals_total = parseInt(temp_away_captain_goals) + parseInt(temp_away_lieutenant_goals);
                //alert("temp_away_goals_total: " + temp_away_goals_total);

                $('#away_goals').val(String(temp_away_goals_total));
            });

            $('#away_lieutenant_goals_p2').on('input', function() {
                var temp_away_captain_goals_p1 = $('#away_captain_goals_p1').val();
                var temp_away_captain_goals_p2 = $('#away_captain_goals_p2').val();
                var temp_away_captain_goals_p3 = $('#away_captain_goals_p3').val();
                var temp_away_captain_goals_ot = $('#away_captain_goals_ot').val();

                var temp_away_captain_goals =   parseInt(temp_away_captain_goals_p1) + 
                                                parseInt(temp_away_captain_goals_p2) + 
                                                parseInt(temp_away_captain_goals_p3) + 
                                                parseInt(temp_away_captain_goals_ot);

                var temp_away_lieutenant_goals_p1 = $('#away_lieutenant_goals_p1').val();
                var temp_away_lieutenant_goals_p2 = $('#away_lieutenant_goals_p2').val();
                var temp_away_lieutenant_goals_p3 = $('#away_lieutenant_goals_p3').val();
                var temp_away_lieutenant_goals_ot = $('#away_lieutenant_goals_ot').val();

                var temp_away_lieutenant_goals =    parseInt(temp_away_lieutenant_goals_p1) + 
                                                    parseInt(temp_away_lieutenant_goals_p2) + 
                                                    parseInt(temp_away_lieutenant_goals_p3) + 
                                                    parseInt(temp_away_lieutenant_goals_ot);

                var temp_away_goals_total = parseInt(temp_away_captain_goals) + parseInt(temp_away_lieutenant_goals);
                //alert("temp_away_goals_total: " + temp_away_goals_total);

                $('#away_goals').val(String(temp_away_goals_total));
            });

            $('#away_lieutenant_goals_p3').on('input', function() {
                var temp_away_captain_goals_p1 = $('#away_captain_goals_p1').val();
                var temp_away_captain_goals_p2 = $('#away_captain_goals_p2').val();
                var temp_away_captain_goals_p3 = $('#away_captain_goals_p3').val();
                var temp_away_captain_goals_ot = $('#away_captain_goals_ot').val();

                var temp_away_captain_goals =   parseInt(temp_away_captain_goals_p1) + 
                                                parseInt(temp_away_captain_goals_p2) + 
                                                parseInt(temp_away_captain_goals_p3) + 
                                                parseInt(temp_away_captain_goals_ot);

                var temp_away_lieutenant_goals_p1 = $('#away_lieutenant_goals_p1').val();
                var temp_away_lieutenant_goals_p2 = $('#away_lieutenant_goals_p2').val();
                var temp_away_lieutenant_goals_p3 = $('#away_lieutenant_goals_p3').val();
                var temp_away_lieutenant_goals_ot = $('#away_lieutenant_goals_ot').val();

                var temp_away_lieutenant_goals =    parseInt(temp_away_lieutenant_goals_p1) + 
                                                    parseInt(temp_away_lieutenant_goals_p2) + 
                                                    parseInt(temp_away_lieutenant_goals_p3) + 
                                                    parseInt(temp_away_lieutenant_goals_ot);

                var temp_away_goals_total = parseInt(temp_away_captain_goals) + parseInt(temp_away_lieutenant_goals);
                ////alert("temp_away_goals_total: " + temp_away_goals_total);

                $('#away_goals').val(String(temp_away_goals_total));
            });

            $('#away_lieutenant_goals_ot').on('input', function() {
                var temp_away_captain_goals_p1 = $('#away_captain_goals_p1').val();
                var temp_away_captain_goals_p2 = $('#away_captain_goals_p2').val();
                var temp_away_captain_goals_p3 = $('#away_captain_goals_p3').val();
                var temp_away_captain_goals_ot = $('#away_captain_goals_ot').val();

                var temp_away_captain_goals =   parseInt(temp_away_captain_goals_p1) + 
                                                parseInt(temp_away_captain_goals_p2) + 
                                                parseInt(temp_away_captain_goals_p3) + 
                                                parseInt(temp_away_captain_goals_ot);

                var temp_away_lieutenant_goals_p1 = $('#away_lieutenant_goals_p1').val();
                var temp_away_lieutenant_goals_p2 = $('#away_lieutenant_goals_p2').val();
                var temp_away_lieutenant_goals_p3 = $('#away_lieutenant_goals_p3').val();
                var temp_away_lieutenant_goals_ot = $('#away_lieutenant_goals_ot').val();

                var temp_away_lieutenant_goals =    parseInt(temp_away_lieutenant_goals_p1) + 
                                                    parseInt(temp_away_lieutenant_goals_p2) + 
                                                    parseInt(temp_away_lieutenant_goals_p3) + 
                                                    parseInt(temp_away_lieutenant_goals_ot);

                var temp_away_goals_total = parseInt(temp_away_captain_goals) + parseInt(temp_away_lieutenant_goals);
                ////alert("temp_away_goals_total: " + temp_away_goals_total);

                $('#away_goals').val(String(temp_away_goals_total));
            });

        })
    </script>
</body>

</html>
