<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <title>Rapportera - Cobra Cup 2015</title>
 
    <!-- Latest compiled and minified CSS -->
    <link href="../../dist/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->

    <!-- Optional theme -->
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="../../dist/css/flat-ui.css">

    <link rel="stylesheet" href="../../stylesheets/style.css">

    <link rel="icon" type="image/png" href="http://media.cobracup.se/2014/11/favicon.png" />
 
    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 
</head>
 
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">The Hub</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Lag</a></li>
                <li><a href="/signup">Anmäl lag</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tabeller <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/stat/league">Ligan</a></li>
                    <li><a href="/stat/divisions">Divisioner</a></li>                  
                    <li><a href="/stat/playerstats">Spelarstatistik</a></li>
                  </ul>
                </li>
                <li><a href="/games">Matcher</a></li>
                <li><a href="http://cobracup.se" target="_blank">cobracup.se</a></li>
              </ul>
              <% if(typeof(count) !== 'undefined'){ %>
                <p class="navbar-text navbar-right"><strong><%= count %>/15 lag</strong></p>
              <% } %>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <% if(typeof(flashError) !== 'undefined'){ %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong>Fel!</strong> <%= flashError %>.
            </div>  
        <% } %>
        <% if((typeof(game) !== 'undefined') && (typeof(teams) !== 'undefined')){ 
            var hometeam = null;
            var awayteam = null;

            teams.forEach(function(team) {
                if(_.isEqual(team.id, game[0].get("home").id)){
                    hometeam = team;
                } else if(_.isEqual(team.id, game[0].get("away").id)){
                    awayteam = team;
                }
            })
            %>
            <div class="col-md-12">
                <h2 class="text-center text-uppercase"><%= hometeam.get("team_name") %> <span style="color: #F39C12;">vs.</span> <%= awayteam.get("team_name") %></h2>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <p class="text-center"><small>Runda #<strong><%= game[0].get("round") %></strong> Grupp #<strong><%= game[0].get("group") %></strong></small></p>
                <form class="form" role="form" method="post">
                    <div class="panel">
                        <div class="panel-body" style="margin-bottom: 0; padding-bottom: 0;">              
                            <div class="col-md-6 col-md-offset-3" style="margin-bottom: 0;">
                                <div class="form-group col-md-5 col-xs-5" style="margin-bottom: 0;">
                                    <input type="text" class="form-control text-center input-hg" id="home_goals" name="home_goals" placeholder="Hemma" value="<%= game[0].get("result").get("home_goals") %>" style="font-weight: bold;">
                                </div>
                                <div class="col-md-2 col-xs-2" style="margin-bottom: 0;">
                                    <p class="lead text-uppercase text-center">-</p>
                                </div>
                                <div class="form-group col-md-5 col-xs-5" style="margin-bottom: 0;">
                                    <input type="text" class="form-control text-center input-hg" id="away_goals" name="away_goals" placeholder="Borta" value="<%= game[0].get("result").get("away_goals") %>" style="font-weight: bold;">
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-5 col-xs-6"> 
                                    <p style="margin-bottom: 0;"><small><strong>Spelare</strong></small></p>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <p class="text-center" style="margin-bottom: 0;"><small><strong>Mål</strong></small></p>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <p class="text-center" style="margin-bottom: 0;"><small><strong>Fajter</strong></small></p>
                                </div>
                            </div>
                            <hr style="margin-bottom: 10px; margin-top: 10px;">              
                            <div class="row">
                                <div class="col-md-12">
                                    <h6 class="text-uppercase"><img src="<%= hometeam.get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:25px;height:25px; float:left; margin-right:10px;"><span><strong>Hemmalaget</strong></span></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-6"> 
                                    <p><%= hometeam.get("captain_name") %></p>
                                </div>
                                <div class="form-group col-md-2 col-xs-3">
                                    <input type="text" class="form-control text-center" id="home_captain_goals" name="home_captain_goals" placeholder="Mål" value="<%= game[0].get("result").get("home_captain_goals") %>">
                                </div>
                                <div class="form-group col-md-2 col-xs-3">
                                    <input type="text" class="form-control text-center" id="home_captain_fights" name="home_captain_fights" placeholder="Fajter" value="<%= game[0].get("result").get("home_captain_fights") %>">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-6"> 
                                    <p><%= hometeam.get("lieutenant_name") %></p>
                                </div>
                                <div class="form-group col-md-2 col-xs-3">
                                    <input type="text" class="form-control text-center" id="home_lieutenant_goals" name="home_lieutenant_goals" placeholder="Mål" value="<%= game[0].get("result").get("home_lieutenant_goals") %>">
                                </div>
                                <div class="form-group col-md-2 col-xs-3">
                                    <input type="text" class="form-control text-center" id="home_lieutenant_fights" name="home_lieutenant_fights" placeholder="Fajter" value="<%= game[0].get("result").get("home_lieutenant_fights") %>">
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <h6 class="text-uppercase"><img src="<%= awayteam.get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:25px;height:25px; float:left; margin-right:10px;"><span><strong>Bortalaget</strong></span></h6>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-6"> 
                                    <p><%= awayteam.get("captain_name") %></p>
                                </div>
                                <div class="form-group col-md-2 col-xs-3">
                                    <input type="text" class="form-control text-center" id="away_captain_goals" name="away_captain_goals" placeholder="Mål" value="<%= game[0].get("result").get("away_captain_goals") %>">
                                </div>
                                <div class="form-group col-md-2 col-xs-3">
                                    <input type="text" class="form-control text-center" id="away_captain_fights" name="away_captain_fights" placeholder="Fajter" value="<%= game[0].get("result").get("away_captain_fights") %>">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-6"> 
                                    <p><%= awayteam.get("lieutenant_name") %></p>
                                </div>
                                <div class="form-group col-md-2 col-xs-3">
                                    <input type="text" class="form-control text-center" id="away_lieutenant_goals" name="away_lieutenant_goals" placeholder="Mål" value="<%= game[0].get("result").get("away_lieutenant_goals") %>">
                                </div>
                                <div class="form-group col-md-2 col-xs-3">
                                    <input type="text" class="form-control text-center" id="away_lieutenant_fights" name="away_lieutenant_fights" placeholder="Fajter" value="<%= game[0].get("result").get("away_lieutenant_fights") %>">
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel">
                        <div class="panel-body">              
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center">
                                        <% if(game[0].get("result_submitted")) { %>
                                            Resultat för denna match uppdaterades
                                            <br>
                                            <span class="text-capitalize"><strong><%= formatDateAndTime(game[0].get("updatedAt")) %></strong></span>
                                        <% } else { %>
                                            Denna match har inte rapporterats ännu
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel">
                        <div class="panel-body">              
                            <div class="form-group" style="margin-bottom: 0;">
                                <input type='hidden' name='home_captain_id' id='home_captain_id' value='<%= hometeam.get("captain_id") %>' />
                                <input type='hidden' name='home_lieutenant_id' id='home_lieutenant_id' value='<%= hometeam.get("lieutenant_id") %>' />
                                <input type='hidden' name='away_captain_id' id='away_captain_id' value='<%= awayteam.get("captain_id") %>' />
                                <input type='hidden' name='away_lieutenant_id' id='away_lieutenant_id' value='<%= awayteam.get("lieutenant_id") %>' />

                                <input type='hidden' name='_method' value='put' />
                                <% if(game[0].get("result_submitted")) { %>
                                    <button type="submit" class="btn btn-hg btn-warning btn-wide btn-block text-uppercase" disabled><i class="fa fa-lock"></i> Matchresulat rapporterat</button>
                                    <p class="text-center" style="margin-bottom:0;"><small><em><strong>Kontakta admin för att uppdatera resultat</strong></em></small></p>
                                <% } else { %>
                                    <button type="submit" class="btn btn-hg btn-primary btn-wide btn-block text-uppercase">Rapportera match</button>
                                <% } %>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </form>
            </div>
        <% } %>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.container -->

    <p class="text-center" style="margin-top: 2.5em;"><small>&copy; 2014 Copyright The Cobra Cup</small></p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../dist/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../dist/js/flat-ui.min.js"></script>

    <!-- jQuery Version 1.11.0 -->
    <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
</body>
 
</html>