<!-- Include the header partial -->
<% include _header %>
    <div id="table-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><i class="fa fa-users"></i> Snömässan 16 november 2014 <small>10 platser</small></h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <!-- <div class="panel-heading">
                        <b>Anmälningslista</b>
                    </div> -->
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <% if(typeof(full) === 'undefined'){ %>                        
                        <div>
                            <h4>Anmäl att du vill jobba</h4>
                            <form class="form-inline" role="form" method="post">
                                <div class="form-group">
                                    <label for="pReserveName" class="control-label sr-only">Förnamn</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                        <input type="text" class="form-control input-sm" id="pReserveFirstName" placeholder="Förnamn" name="firstname" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pReserveName" class="control-label sr-only">Efternamn</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                        <input type="text" class="form-control input-sm" id="pReserveLastName" placeholder="Efternamn" name="lastname" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pReserveEmail" class="control-label sr-only">Epost</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                        <input type="email" class="form-control input-sm" id="pReserveEmail" placeholder="Epost" name="email" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pReserveTelephone" class="control-label sr-only">Telefon</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                        <input type="text" class="form-control input-sm" id="pReserveTelephone" placeholder="Telefon" name="telephone" required>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label for="pReservePassword" class="control-label sr-only">Lösenord</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-institution"></i></div>
                                        <input type="password" class="form-control input-sm" id="pReservePassword" placeholder="Lösenord" name="password" required>
                                    </div>
                                </div> -->

                                <div class="form-group">
                                    <input type='hidden' name='_method' value='put' />
                                    <button type="submit" class="btn btn-md btn-success"><i class="fa fa-save"></i> Spara</button>
                                </div>
                            </form>
                        </div>
                        <% } else { %>
                            <div class="alert alert-warning alert-dismissible" role="alert">
                              <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                              </button>
                              <strong>Fullbokat!</strong> Alla platser för att jobba på snömässan är bokade.
                            </div>
                        <% } %>
                        <hr>

                        <% if(typeof(flash) !== 'undefined'){ %>
                            <div class="alert alert-danger alert-dismissible" role="alert">
                              <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                              </button>
                              <strong>Fel!</strong> <%= flash %>.
                            </div>  
                        <% } %>

                        <div class="table-responsive">
                            <table class="table table-condensed" id="workertable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th name="firstname">Förnamn</th>
                                        <th name="lastname">Efternamn</th>
                                        <th name="email">Epost</th>
                                        <th name="telephone">Telefon</th>
                                        <!-- <th name="delete"></th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                        <% if(typeof(workers) !== 'undefined'){
                                            var i = 1;
                                            workers.forEach(function(worker) { %>
                                                <tr>
                                                    <td><%= i %></td>
                                                    <td><%= worker.get("firstname") %></td>
                                                    <td><%= worker.get("lastname") %></td>
                                                    <td><%= worker.get("email") %></td>
                                                    <td><%= worker.get("telephone") %></td>
                                                    <!-- <td><button type="button" class="btn btn-sm btn-danger" onclick="location.href = '/<%= worker.get("firstname") %>';"><i class="fa fa-trash"></i> Ta bort mig</button></td> -->
                                                </tr>
                                            <% i = i+1;
                                            }) 
                                        }%>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                    <p class="pull-right">Vill du ta bort din anmälan? <a href="mailto:joel.baudin88@gmail.com?Subject=Hjälp! Jag vill ta bort min anmälan&Body=%0D%0A%0D%0A------------------------------------%0D%0ADetta%20mejl%20är%20skickat%20via%20www.id.skipool.nu" target="_top">Klicka här för att få hjälp</a>.</p>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <p style="margin-top: 2.5em;"><small>&copy; 2014 Copyright joelbaudin.com</small></p>
    </div>
    <!-- /#page-wrapper -->

    <script>
        $(document).ready(function() {
           
        });
    </script>
<!-- Include the header partial -->
<% include _footer %>