<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <% if(typeof(teamObj) !== 'undefined'){ %> 
        <title><%= teamObj[0].get("team_name") %> - Cobra Cup 2015</title>
    <% } else { %>
        <title>Kunde inte hitta laget - Cobra Cup 2015</title>
    <% } %>
 
    <!-- Latest compiled and minified CSS -->
    <link href="../dist/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->

    <!-- Optional theme -->
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="../dist/css/flat-ui.css">

    <link rel="stylesheet" href="../stylesheets/style.css">

    <link rel="icon" type="image/png" href="http://media.cobracup.se/2014/11/favicon.png" />
 
    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 
</head>
 
<body>
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="container">
           <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="/">The Hub</a>
           </div>
           <div id="navbar" class="navbar-collapse collapse">
             <ul class="nav navbar-nav">
               <li><a href="/">Lag</a></li>
               <li><a href="/signup">Anmäl lag</a></li>
               <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tabeller <span class="caret"></span></a>
                 <ul class="dropdown-menu" role="menu">
                   <li><a href="/stat/league">Ligan</a></li>
                   <li><a href="/stat/divisions">Divisioner</a></li>                  
                   <li><a href="/stat/playerstats">Spelarstatistik</a></li>
                 </ul>
               </li>
               <li><a href="/games">Matcher</a></li>
               <li><a href="http://cobracup.se" target="_blank">cobracup.se</a></li>
             </ul>
             <% if(typeof(count) !== 'undefined'){ %>
               <p class="navbar-text navbar-right"><strong><%= count %>/15 lag</strong></p>
             <% } %>
           </div><!--/.nav-collapse -->
       </div>
   </nav>
    <div class="container">
        <% if(typeof(flash) !== 'undefined'){ %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong>Problem!</strong> <%= flash %>.
            </div>  
        <% } %>
        <% if(typeof(teamObj) !== 'undefined'){ %>
            <div class="col-md-4">
                <div class="row">
                    <div class="panel" style="background-color: #eff0f2;">
                        <div class="panel-body">
                            <img src="<%= teamObj[0].get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:150px;height:150px; margin: 0 auto;">   
                            <h4 class="text-center"><%= teamObj[0].get("nhlTeam").get("name") %></h4>                     
                            <h6 class="text-center"><%= teamObj[0].get("nhlTeam").get("city") %></h4>
                            <a class="btn btn-primary btn-md center-block" href="<%= teamObj[0].get("nhlTeam").get("homepage") %>" target="_blank">Hemsida</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="row">
                    <div class="panel panel-default" style="border: 0; background-color: transparent; margin-bottom: 0;">
                        <div class="panel-body" style="padding: 0;">
                            <div class="panel-group" id="accordion">

                                <% if((typeof(lastPlayedGame) !== 'undefined') && (typeof(teams) !== 'undefined')){ 
                                    var hometeam = null;
                                    var awayteam = null;
                                    var versus = "";
                                    teams.forEach(function(team) {
                                        if(_.isEqual(team.id, lastPlayedGame.get("home").id)){
                                            hometeam = team;
                                            if(!_.isEqual(team.id, teamObj[0].id)){
                                                versus = team.get("nhlTeam").get("nickname");
                                            }
                                        } else if(_.isEqual(team.id, lastPlayedGame.get("away").id)){
                                            awayteam = team;
                                            if(!_.isEqual(team.id, teamObj[0].id)){
                                                versus = team.get("nhlTeam").get("nickname");
                                            }
                                        }
                                    })
                                %>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h6 class="panel-title text-uppercase">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="fui-triangle-down"></span> Senaste match VS. <%= versus %></a>
                                        </h6>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <a href="/stat/game/<%= lastPlayedGame.get("game_id") %>" style="color: rgb(241,102,57);"><p class="text-center text-uppercase" style="margin-bottom: 0; font-weight: bold;"><%= formatTime(lastPlayedGame.get("date")) %></p></a>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4 col-md-4">
                                                    <img src="<%= hometeam.get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:50px;height:50px; margin: 0 auto;">    
                                                </div>
                                                <div class="col-xs-4 col-md-4">
                                                    <p class="text-center" style="margin-bottom: 0; line-height: 1;"><small>SLUT</small></p>
                                                    <p class="text-center" style="line-height: 1;"><b><%= lastPlayedGame.get("result").get("home_goals") %> - <%= lastPlayedGame.get("result").get("away_goals") %></b></p>
                                                </div>  
                                                <div class="col-xs-4 col-md-4">
                                                    <img src="<%= awayteam.get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:50px;height:50px; margin: 0 auto;">   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } else { %>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title text-uppercase">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="fui-alert-circle"></span> Senaste match VS.</a>
                                            </h6>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="text-center" style="margin-bottom: 0; line-height: 1;">Problem att ladda senaste match eller så har detta lag inte spelat några matcher.</p>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>

                                <% if((typeof(games) !== 'undefined') && (typeof(teams) !== 'undefined')){
                                    var nextGame = _.first(games);
                                }
                                var hometeam = null;
                                var awayteam = null;
                                var versus = "";
                                if(typeof(nextGame) !== 'undefined'){
                                    teams.forEach(function(team) {
                                        if(_.isEqual(team.id, nextGame.get("home").id)){
                                            hometeam = team;
                                            if(!_.isEqual(team.id, teamObj[0].id)){
                                                versus = team.get("nhlTeam").get("nickname");
                                            }
                                        } else if(_.isEqual(team.id, nextGame.get("away").id)){
                                            awayteam = team;
                                            if(!_.isEqual(team.id, teamObj[0].id)){
                                                versus = team.get("nhlTeam").get("nickname");
                                            }
                                        }
                                    }) %>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title text-uppercase">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="fui-triangle-down"></span> Nästa match VS. <%= versus %></a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                   <div class="row">
                                                    <div class="col-xs-4 col-md-4">
                                                        <img src="<%= hometeam.get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:50px;height:50px; margin: 0 auto;">    
                                                    </div>
                                                    <div class="col-xs-4 col-md-4">
                                                        <a href="/stat/game/<%= nextGame.get("game_id") %>" style="color: rgb(241,102,57);">
                                                            <p class="text-center text-uppercase" style="margin-bottom: 0; line-height: 1;"><%= getDayText(nextGame.get("date")) %></p>
                                                            <p class="text-center" style="margin-bottom: 0; line-height: 1;"><small><%= getDate(nextGame.get("date")) %></small></p>
                                                            <p class="text-center" style="line-height: 1;"><b><%= justTime(nextGame.get("date")) %></b></p>
                                                        </a>
                                                    </div>  
                                                    <div class="col-xs-4 col-md-4">
                                                        <img src="<%= awayteam.get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:50px;height:50px; margin: 0 auto;">   
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% 
                                } else { %>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title text-uppercase">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="fui-alert-circle"></span> Nästa match VS.</a>
                                            </h6>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="text-center" style="margin-bottom: 0; line-height: 1;">Problem att ladda nästa match eller så har detta lag inte någon kommande match.</p>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>      
                                
                                <% if((typeof(games) !== 'undefined') && (typeof(teams) !== 'undefined')){ 
                                    var upcomingGames = _.rest(games, 1);
                                }
                                if(typeof(upcomingGames) !== 'undefined'){ %>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title text-uppercase">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="fui-triangle-down"></span> Kommande matcher</a>
                                            </h6>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <% upcomingGames.forEach(function(game) { 
                                                        var versusLogo = "";

                                                        teams.forEach(function(team) {
                                                            if(_.isEqual(team.id, game.get("home").id)){
                                                                if(!_.isEqual(team.id, teamObj[0].id)){
                                                                    versusLogo = team.get("nhlTeam").get("logo").url();
                                                                }
                                                            } else if(_.isEqual(team.id, game.get("away").id)){
                                                                if(!_.isEqual(team.id, teamObj[0].id)){
                                                                    versusLogo = team.get("nhlTeam").get("logo").url();
                                                                }
                                                            }
                                                        })

                                                    %>
                                                    <div class="col-md-4" style="padding-left:5px; padding-right: 5px;">
                                                        <div class="tile" style="padding: 8px;">
                                                            <p style="font-size: 7px; margin-bottom: 3px; line-height: 1; font-weight:bold;">VS</p>
                                                            <img src="<%= versusLogo %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:25px;height:25px; margin: 0 auto;"> 
                                                            <a href="/stat/game/<%= game.get("game_id") %>" style="color: rgb(241,102,57);">
                                                                <p class="tile-title text-uppercase" style="font-size: 12px; margin-bottom: 0; font-weight:bold; line-height: 1; margin-top: 3px;"><%= getDayAndDateText(game.get("date")) %></p>
                                                                <p style="font-size: 10px; margin-bottom: 0; line-height: 1;"><small><%= justTime(game.get("date")) %></small></p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <% }) %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } else { %>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title text-uppercase">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="fui-alert-circle"></span> Kommande matcher</a>
                                            </h6>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="text-center" style="margin-bottom: 0; line-height: 1;">Problem att ladda kommande match eller så har detta lag inte några kommande matcher.</p>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default" style="border: 0; background-color: transparent; margin-bottom: 0;">
                        <div class="panel-body" style="padding: 0;">
                            <div class="panel-group" id="accordionStat">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <% 
                                            var group = teamObj[0].get("group"); 
                                            var groupName = "-";
                                            if(_.isEqual(group, "1")){
                                                groupName = "Atlantic";
                                            } else if(_.isEqual(group, "2")){
                                                groupName = "Metropolitan";
                                            } else if(_.isEqual(group, "3")){
                                                groupName = "Central";
                                            } else if(_.isEqual(group, "4")){
                                                groupName = "Pacific";
                                            }
                                        %>
                                        <h6 class="panel-title text-uppercase">
                                            <a data-toggle="collapse" data-parent="#accordionStat" href="#collapseOneStat"><span class="fui-triangle-down"></span> Tabell</a>
                                        </h6>
                                    </div>
                                    <div id="collapseOneStat" class="panel-collapse collapse in">
                                        <div class="panel-body" style="padding: 5px;">
                                            <table class="table table-bordered table-condensed table-striped" style="margin-bottom: 0;">
                                                <caption class="text-left text-uppercase" style="font-size: 15px;"><small><strong><%= groupName %> Division</strong></small></caption>
                                                <thead style="font-size: 13px;">
                                                    <tr>
                                                        <th></th>
                                                        <th class="text-center">LAG</th>
                                                        <th></th>
                                                        <th class="text-center">GP</th>
                                                        <th class="text-center">W</th>
                                                        <th class="text-center">L</th>
                                                        <th class="text-center bg-warning"><strong>P</strong></th>
                                                    </tr>
                                                </thead>
                                                <tbody style="font-size: 12px;">
                                                    <% if(typeof(standings) !== 'undefined'){
                                                        var i = 1;
                                                        standings.forEach(function(standing) { %>
                                                            <% if(_.isEqual(group, standing.get("team").get("group"))){ %>
                                                                <tr>
                                                                    <td class="text-center"><%= i %></td>
                                                                    <td><img src="<%= standing.get("team").get("nhlTeam").get("logo").url() %>" class="img-responsive img-circle" alt="Responsive image" style="min-height:15px;height:15px; margin: 0 auto;"></td>
                                                                    <td><%= standing.get("team").get("team_name") %></td>
                                                                    <td class="text-center"><%= standing.get("team").get("games_played") %></td>
                                                                    <td class="text-center"><%= standing.get("team").get("wins") %></td>
                                                                    <td class="text-center"><%= standing.get("team").get("losses") %></td>
                                                                    <td class="text-center"><strong><%= standing.get("points") %></strong></td>
                                                                </tr>
                                                            <% i = i+1; 
                                                            } 
                                                        }) %>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                            <small style="font-size: 10px;"><strong>GP</strong>-Games Played, <strong>W</strong>-Wins, <strong>L</strong>-Losses, <strong>P</strong>-Points</small>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h6 class="panel-title text-uppercase">
                                            <a data-toggle="collapse" data-parent="#accordionStat" href="#collapseTwoStat"><span class="fui-triangle-down"></span> Spelarstatistik</a>
                                        </h6>
                                    </div>
                                    <div id="collapseTwoStat" class="panel-collapse collapse">
                                        <div class="panel-body" style="padding: 5px;">
                                            <table class="table table-bordered table-condensed" style="margin-bottom: 0;">
                                                <thead style="font-size: 13px;">
                                                    <tr>
                                                      <th>Spelare:</th>
                                                      <th>GP</th>
                                                      <th>G</th>
                                                      <th>F</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="font-size: 13px;">
                                                    <tr>
                                                      <td><%= teamObj[0].get("captain_name") %></td>
                                                      <td><%= teamObj[0].get("games_played") %></td>
                                                      <td><%= teamObj[0].get("captain_goals") %></td>
                                                      <td><%= teamObj[0].get("captain_fights") %></td>
                                                    </tr>
                                                    <tr>
                                                      <td><%= teamObj[0].get("lieutenant_name") %></td>
                                                      <td><%= teamObj[0].get("games_played") %></td>
                                                      <td><%= teamObj[0].get("lieutenant_goals") %></td>
                                                      <td><%= teamObj[0].get("lieutenant_fights") %></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <small style="font-size: 10px;"><strong>GP</strong>-Games Played, <strong>G</strong>-Goals, <strong>F</strong>-Fights</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel" style="background-color: #eff0f2;">
                    <div class="panel-body">
                        <h2 class="text-center text-uppercase" style="word-wrap: break-word;"><%= teamObj[0].get("team_name") %></h2>
                        <hr>
                        <div class="col-md-6">            
                            <img src="../img/hockeyplayer.png" class="img-responsive" alt="Responsive image" style="min-height:50px;height:50px; margin: 0 auto;">
                            <h5 class="text-center" title="<%= teamObj[0].get("captain_name") %>"><%= getFirstname(teamObj[0].get("captain_name")) %> <small style="color: rgb(0,0,0);">Kapten</small></h5>
                            <p class="text-center" style="line-height: 1; margin: 0;"><%= teamObj[0].get("captain_telephone") %></p>
                            <p class="text-center" style="line-height: 1; margin: 0;" title="Xbox Live Gamertag"><small><i class="fa fa-gamepad" style="color: rgb(0,0,0);"></i> <span style="color: rgb(16,124,16);"><strong><%= teamObj[0].get("captain_gamertag") %></strong></span></small><p>
                        </div>
                        <div class="col-md-6">
                            <img src="../img/hockeyplayer.png" class="img-responsive" alt="Responsive image" style="min-height:50px;height:50px; margin: 0 auto;">
                            <h5 class="text-center" title="<%= teamObj[0].get("lieutenant_name") %>"><%= getFirstname(teamObj[0].get("lieutenant_name")) %> <small style="color: rgb(0,0,0);">Assisterande</small></h5>
                            <p class="text-center" style="line-height: 1; margin: 0;"><%= teamObj[0].get("lieutenant_telephone") %></p>
                            <p class="text-center" style="line-height: 1; margin: 0;" title="Xbox Live Gamertag"><small><i class="fa fa-gamepad" style="color: rgb(0,0,0);"></i> <span style="color: rgb(16,124,16);"><strong><%= teamObj[0].get("lieutenant_gamertag") %></strong></span></small><p>
                        </div>
                        <hr>
                        <div class="col-md-6 col-md-offset-3">
                            <p class="text-center lead"><i>Lagmotto</i></p>
                            <blockquote>
                                <p><!-- <i class="fa fa-quote-left fa-2x pull-left fa-border"></i> --> <%= teamObj[0].get("team_motto") %></p>
                                <small><%= teamObj[0].get("team_name") %></small>
                            </blockquote>
                        </div> 
                        <div class="col-md-8 col-md-offset-2">
                            <p class="text-center lead" style="margin-bottom: 5px;"><span class="fui-list"></span> Nivå <span class="fui-list"></span></p>
                            <div class="progress" style="height: 20px;">
                            <% if(_.isEqual(teamObj[0].get("level"), "1")) { %>
                                <div class="progress-bar" style="width: 35%; line-height: 20px;"><i class="fa fa-child"></i> Rookie</div>
                            <% } else if(_.isEqual(teamObj[0].get("level"), "2")) { %>
                                <div class="progress-bar progress-bar-success" style="width: 65%; line-height: 20px;"><i class="fa fa-gamepad"></i> Pro</div>
                            <% } else { %>
                                <div class="progress-bar progress-bar-warning" style="width: 100%; line-height: 20px;"><i class="fa fa-trophy"></i> All Star</div>
                            <% } %>
                            </div>             
                        </div>
                        <!-- <div class="clearfix"></div>
                        <div class="col-md-12">
                            <p class="text-center" style="font-size: 12px; opacity: 0.7;"><small><span class="fui-new"></span> Redigera</small></p> 
                        </div> -->                 
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-md-7 -->
        <% } else { %>
            <p>Laget är undefined... eller nått</p>
        <% } %>
    </div>
    
    <p class="text-center" style="margin-top: 2.5em;"><small>&copy; 2014 Copyright The Cobra Cup</small></p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../dist/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../dist/js/flat-ui.min.js"></script>

    <!-- jQuery Version 1.11.0 -->
    <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
 
    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <script>
        
    </script>
</body>
 
</html>